.catalog-item-sorting .add-all__link {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    text-decoration: none;
    align-items: center;
    color: #fff!important;
    background: #c71848;
    padding: 0 10px;
    border-radius: 4px;
    font-size: 13px;
}
.catalog-item-sorting .add-all__link i.fa {
    padding-right: 5px;
    font-size: 17px;
}
