.promotions__item .discount-sticker {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    width: 316px;
    justify-content: flex-end;
    z-index: 90;
    margin-top: 10px
}

.promotions__item .discount-sticker .sticker-wrap {
    width: 150px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}


.promotions__item .discount-sticker .sticker-wrap .flag {
    height: 0;
    width: 0;
    border: 14px solid red;
    border-left-color: transparent;
}

.promotions__item .discount-sticker .sticker-wrap .value {
    background: red;
    padding: 5px 10px 5px 0;
    color: #fff;
}

@media (min-width: 788px) and (max-width: 1253px) {
    .promotions__item .discount-sticker {
        width: 356px;
    }
}


@media screen and (max-width: 787px) {

    .promotions__item .discount-sticker {
        display: inline-block;
        width: auto;
        order: 3;
        position: initial;
        margin: 0;
    }

    .promotions-list .promotions__item {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        padding: 5px 0 5px 5px;
    }

    .promotions__item-image-wrap,
    .promotions__item-block,
    .promotions__item-image {
        display: block !important;
    }

    .promotions__item-image {
        height: 100% !important;
        border-radius: 50%;
    }

    .promotions__item-image-wrap {
        padding-right: 0 !important;
        width: 57px !important;
        height: 57px !important;
        background-color: #fff !important;
    }

    .promotions__item:hover .promotions__item-image {
        transform: none !important;
    }

    .promotions__item-block {
        flex-grow: 2;
    }

    .promotions__item-name {
        padding-left: 5px !important;
    }

    .promotions__item-date-wrap {
        display: none !important;
    }

}