.partner-slider-wrap {
    padding: 40px 0;
}

.partner-slider .slider-link {
    padding-right: 20px;
}

.partner-slider .slider-link .slider-link__img {
    max-width: 226px;
    max-height: 112px;
    border-radius: 10px;
}

.pt-slider .slick-arrow {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    z-index: 33;
}

.pt-slider .slick-next.slick-arrow {
    right: 5px;
}

.pt-slider .slick-prev.slick-arrow {
    left: 5px;
}

.pt-slider  .slick-prev::before, .pt-slider .slick-next::before {
    color: #585c72;
    font-weight: bold;
}


.pt-slider .slick-slider .button {
    display: inline-block;
    width: auto;
    height: auto;
    border-radius: 50%;
    background-color: #fff;
    padding: 12px;
    position: absolute;
    top: 50%;
    background-position: center center;
    background-size: contain;
}

.pt-slider .slick-slider .button.slick-disabled {
    visibility: hidden;
}

.pt-slider .slick-slider .button.back{
    left: -25px;
    background-image: url("./images/left.svg");
}

.pt-slider .slick-slider .button.forward{
    right: -25px;
    background-image: url("./images/right.svg");
}

.pt-slider  .slick-arrow.slick-disabled {
    visibility: hidden;
}

@media screen and (max-width: 787px) {
    .pt-slider .slick-slider .button.back{
        left: 25px;
    }

    .pt-slider .slick-slider .button.forward{
        right: 25px;
    }

    .pt-slider .slick-slider .button {
        z-index: 500;
    }
}
