@media screen and (max-width: 787px) {
    .top_panel .panel_2 ul.store-vertical li:hover a.showsubmenu {
        background: #c71848!important;
        color: #fff!important;
    }

    .top_panel .panel_2 ul.store-vertical li.jshover a.showsubmenu,
    .top_panel .panel_2 ul.store-vertical li.active a.showsubmenu,
    .top_panel .panel_2 ul.store-vertical li ul.submenu {
        background: #fff!important;
        color: #575b71!important;
    }
}

@media screen and (max-width: 600px) {
    .top_panel .panel_2 ul.store-vertical li ul li a {
        color: #575b71!important;
        text-decoration: none;
    }

    .top_panel .panel_2 ul.store-vertical li ul li a:hover,
    .top_panel .panel_2 ul.store-vertical li ul li .text:hover a,
    .top_panel .panel_2 ul.store-vertical li ul li a.root-item-selected,
    .top_panel .panel_2 ul.store-vertical li ul li.active > .text a {
        color: #c71848!important;
    }

}

