.pvp-sms-auth-block .shadow {
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    z-index: 2222;
    top: 0;
    left: 0
}

.pvp-sms-auth-block .auth-form {
    width: 350px;
    background: #f4f5fd;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .5);
    display: none;
    flex-flow: column nowrap;
    align-items: center;
    color: #6f7386;
    z-index: 2223;
    position: fixed;
    left: calc(50vw - 175px);
    top: calc(50% - 180px);
    padding: 25px 15px;
    box-sizing: border-box;
}

.pvp-sms-auth-block .auth-form.active {
    display: flex;
}

.pvp-sms-auth-block .auth-form .close-circle {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #6b6e86;
    top: -15px;
    right: -15px;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, .5);
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    justify-content: center;
}

.pvp-sms-auth-block .auth-form .close-circle a.close-icon {
    transform: rotate(45deg);
    text-decoration: none;
}

.pvp-sms-auth-block .auth-form .close-circle a.close-icon::before {
    content: '\271A';
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}

.pvp-sms-auth-block .auth-line,
.pvp-sms-auth-block .auth-line .auth-line__link {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}

.pvp-sms-auth-block .auth-line .auth-line__link {
    color: #6f7386;
    text-decoration: none;
    font-size: 13px;
}

.pvp-sms-auth-block .auth-line .auth-line__link .svg-icon {
    padding: 0 12px 0 0;
}

.pvp-sms-auth-block .auth-line .auth-line__link .svg-icon.svg-sign-in,
.pvp-sms-auth-block .auth-line .auth-line__link .svg-icon.svg-sign-out {
    margin: 0 12px;
}


.pvp-sms-auth-block .auth-form .header {
    font-size: 1.7em;
    padding: 10px 0 20px 0;
}

.pvp-sms-auth-block .auth-form .tab-switch {
    background: #fff;
    border-radius: 3px;
    padding: 3px;
    border: 1px solid #e1e3ed;
    display: flex;
}

.pvp-sms-auth-block .auth-form .tab-switch .tab-switch__button {
    border: none;
    background: #fff;
    border-radius: 3px;
    color: #6f7386;
    font-size: 1.5em;
    padding: 10px 25px;
    cursor: pointer;
}

.pvp-sms-auth-block .auth-form .tab-switch .tab-switch__button:first-child {
    margin-right: 2px;
}

.pvp-sms-auth-block .auth-form .tab-switch .tab-switch__button.active {
    background: #e1e3ed;
}

.pvp-sms-auth-block .auth-form .tabs .tab {
    display: none;
}

.pvp-sms-auth-block .auth-form .tabs .tab.active {
    display: block;
}


.pvp-sms-auth.credentials .login-form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.pvp-sms-auth.credentials .login-form .login-form-error {
    padding: 5px 10px 0 10px;
    text-align: center;
}

.pvp-sms-auth-block .error {
    color: #c71848;
}

.pvp-sms-auth-block .tab .fields,
.pvp-sms-auth-block .tab .fields .field {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.pvp-sms-auth-block .tab .fields {
    padding: 10px 0;
}

.pvp-sms-auth-block .tab .fields .field {
    margin: 10px 0;
}

.pvp-sms-auth-block .tab .fields .field .input-field {
    max-width: 80%;
    width: 90%;
    border: 1px solid #e1e3ed;
    border-radius: 3px;
    background: #fff;
    font-size: 1.5em;
    padding: 10px;
    text-align: center;
}

.pvp-sms-auth-block .tab .fields .field .input-field::placeholder {
    color: #c0c0c0;
}

.pvp-sms-auth-block .tab .fields .field .input-field.disabled {
    background: #ccd8da;
}

.pvp-sms-auth-block .tab .fields .field.phone-auth .input-field {
    color: #757575;
}

.pvp-sms-auth-block .tab .fields .field .field-label {
    text-align: center;
}


.pvp-sms-auth-block .tab .fields .field.field-button .login-button {
    padding: 5px 15px;
    font-size: 1.5em;
    color: #fff;
    background: #c71848;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.pvp-sms-auth-block .tab .fields .field .field__link {
    color: #6f7386;
    text-decoration: none;
}

.pvp-sms-auth-block .tab .fields .field.resend.hidden {
    display: none;
}

.pvp-sms-auth-block .tab .success-redirect {
    text-align: center;
    padding: 15px;
}

.pvp-sms-auth-block .tab .success-redirect i.success-icon {
    text-align: center;
    border-radius: 50%;
    border: 2px solid #0a962f;
    display: inline-block;
    padding: 10px 20px;
}

.pvp-sms-auth-block .tab .success-redirect i.success-icon::after {
    content: '\2713';
    font-size: 3em;
    color: #0a962f;
}

.pvp-sms-auth-block .tab .fields .field.resend-code.hidden {
    display: none;
}

@media screen and (max-width: 415px){
    .pvp-sms-auth-block .auth-form {
        left: auto;
        max-width: 85%;
        margin: 0 7%;
    }
}