.personal-calculation a.menu-item__link {
    font-size: 18px;
    font-weight: 600;
    color: #c71848;
    text-decoration: none;
}

.personal-calculation ul.menu {
    margin: 0;
    padding: 5px 0;
}

.personal-calculation ul li.menu-item {
    list-style-type: none;
    margin: 0 0 2px 0;
    padding: 0;
    cursor: pointer;
}

.personal-calculation ul li.menu-item.selected a.menu-item__link {
    font-weight: bold;
    color: #575b71;
}