html ,body{width: 100%; height: auto; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, fieldset, form, label, legend, caption {margin:0; padding:0; border:0;}
table, tbody, tfoot, thead, tr, th, td {margin:0; padding:0;}
table { border-collapse:collapse; border-spacing:0; }
td{vertical-align:top}
*{outline:none}

a img, :link img, :visited img {border:0;}
a {cursor:pointer;}

.clear{clear:both; font-size:1px; line-height:1px; height:1px}
input, textarea {outline:none;}


@font-face {
		font-family: 'MyriadPro-Regular';
		src: url('../font/myriadproregular.eot');
		src: url('../font/myriadproregular.eot?#iefix') format('embedded-opentype'),
				 url('../font/myriadproregular.woff') format('woff'),
				 url('../font/myriadproregular.ttf') format('truetype'),
				 url('../font/myriadproregular.svg#myriadproregular') format('svg');
		font-weight: normal;
		font-style: normal;
}
@font-face {
		font-family: 'MyriadPro-Bold';
		src: url('../font/myriadprobold.eot');
		src: url('../font/myriadprobold.eot?#iefix') format('embedded-opentype'),
				 url('../font/myriadprobold.woff') format('woff'),
				 url('../font/myriadprobold.ttf') format('truetype'),
				 url('../font/myriadprobold.svg#myriadprobold') format('svg');
		font-weight: normal;
		font-style: normal;
}



.head {height: 93px; }
	.head a:hover{color: #fe4045 !important}
.wrap {width: 1000px; margin: auto; font-family: 'MyriadPro-Regular';}
	.logo {float:left; margin-right: 40px; }
	
	.head_call {float:left; background:url(../images/ico1.png) no-repeat left 35px; color: #2f2f2f; margin: 0 50px 0 0}
		.head_call .ord_back {font-size: 14px; padding: 11px 0 1px 0px; }
			.head_call .ord_back a{color: #fe4045; text-decoration: underline; }
		.head_call .phone {padding: 5px 0 0 38px; font-size: 16px; color: #414042}
		.head_call .timew {font-size: 10px; color: #828084; padding: 0 0 0 38px}
		
	.head_cart {padding: 11px 0 0px 75px; float: right; background:url(../images/ico2.png) no-repeat left 15px; }	
		.head_cart .tx1 {padding: 0 30px 0 10px; font-size: 14px; color: #f83e43; background: url(../images/strelka.png) no-repeat right 5px; display: inline-block;}
		.head_cart a.tx1 {background: none}
		.head_cart .notauth {float:right; font-size: 13px; color: #828084; padding: 3px 0 0 0}
		.cart_auth {width: 335px; height: 33px; background: url(../images/basBG.png) no-repeat left top !important; font-size: 14px; color: #fff; line-height: 32px; padding: 0 10px 0 0px; margin: 4px 0  0 0; }
			.cart_auth .cc {float:left; width: 185px; height: 31px; background: url(../images/basBG2.png) no-repeat left top; margin-top: 1px; padding: 0 20px 0 10px}
			.cart_auth .cc:hover {background: url(../images/basBG1.png) no-repeat left top}
			.cart_auth a {float:right; color: #414042; text-decoration: none}	
			a.lichn_kab {padding-right: 19px; background: url(../images/ico7.png) no-repeat right 7px; font-size: 13px; margin-top: 1px}
			.cart_auth .cc a {text-decoration: underline; color: #fff; margin-left: 5px}
			.cart_auth .cc a:hover {color: #fff !important; text-decoration: none; }
		//	.cart_auth b {float: right; font-weight: 100; color: #414042; margin: 0 2px 0 4px}		
		.cart_auth b {font-weight: 100}
		
		
.leftCol {width:292px; float:left; margin: 0px 0 20px 0;}	
	
	.leftMenu {margin-bottom: 8px; border-radius: 3px; }	
		.leftMenu .katalog {text-align: center; font-size: 18px; color: #fff; font-family: 'MyriadPro-Regular'; text-transform: uppercase; background:url(../images/catBG.png) no-repeat left 0; height: 39px; line-height: 35px; width: 292px; margin-bottom: 9px}	 
		.leftMenu a {text-decoration: none}
		.leftMenu ul {list-style: none; margin: 0px; padding: 6px 0 14px 0; background: #e1e1e1;  border-radius: 2px}
		.leftMenu > ul {width: 290px;}
		.leftMenu ul li {font-size: 15px; }
		.leftMenu ul li a {color: #414042; padding: 7px 15px 6px 30px; display: block; background:url(../images/ico8.png) no-repeat 10px -81px;}
		.leftMenu ul li a:hover {color: #fe4045; background:url(../images/ico8.png) no-repeat 10px 10px;}
		.leftMenu ul li.selected > a,.leftMenu ul li.selected > a:hover {color: #fe4045; 
			//background:url(../images/arr1.png) no-repeat 13px 16px;
		}
		.leftMenu li.selected > ul {display: block}
				
		.leftMenu ul li ul {display: none; padding: 0px}
		.leftMenu ul li ul li {font-size: 13px}
		.leftMenu ul li ul li a {padding: 4px 0 2px 50px; color: #414042; background:url(../images/ico9.png) no-repeat 36px 12px;}
		.leftMenu ul li ul li.parent a, .leftMenu ul li ul li.parent2 a {background:url(../images/ico8.png) no-repeat 31px -83px;}
		.leftMenu ul li ul li.parent a:hover, .leftMenu ul li ul li.parent2 a:hover {color: #fe4045; background:url(../images/ico8.png) no-repeat 31px 8px;}
		.leftMenu ul li ul li a:hover {color: #fe4045; background:url(../images/ico9.png) no-repeat 36px 12px;}
		.leftMenu  ul li ul li.selected.parent > a, 
		.leftMenu ul li ul li.selected.parent a:hover {background:url(../images/ico8.png) no-repeat 31px 8px; color: #fe4045}

		.leftMenu ul li ul li ul {margin-top: 3px}
		.leftMenu ul li ul li ul li {font-size: 11px; margin: 0 10px 0 55px }
		.leftMenu ul li ul li ul li ul li {margin: 0 0 0 25px}
		.leftMenu ul li ul li ul li a {padding: 3px 0 3px 11px; color: #414042; background: none !important}
//		.leftMenu ul li ul li ul li.selected a:hover {color: #fff !important}
//		.leftMenu ul li ul li ul li ul li a:hover {color: #fff !important}
		.leftMenu ul li ul li ul li.selected.parent2 > a {color: #fff !important; background: #c71847 !important;}
		.leftMenu ul li ul li ul li ul li.selected > a {color: #fff !important; background: #c71847 !important;}
		
		.leftMenu li.selected.parent > ul, .leftMenu li.selected.parent2 > ul {display: block}



		.leftMenu ul ul ul ul,
		.leftMenu ul ul ul ul ul,
		.leftMenu ul ul ul ul ul ul
		{display: none; }		

	.banner_left {border-radius: 3px; border:1px solid #e4e4e4; background: #e1e1e1; padding: 11px; margin-bottom: 8px; width: 266px} 
	.banner_left img {max-width: 267px}
	
	.new_left {width: 290px}
		.new_left .news_title {text-align: center; font-size: 13px; color: #414042; background:url(../images/grad.png) repeat-x 0 0; padding: 10px 0; margin-bottom: 10px; text-transform: uppercase; border-radius: 2px 2px 0 0; font-family: 'MyriadPro-Bold';}
		.new_left .news_item {padding: 5px 25px;}
		.new_left .news_item .news_date {float:left; font-size: 16px; color: #414042; }	
		.new_left .news_item a {margin-left: 80px; color: #414042; display: block; text-decoration: none; font-size: 15px}		
		.new_left .news_item a:hover {color: #fe4045}		
		.allnews, .readall {padding: 0; text-align: center; margin: 5px 0 0 auto; background:#dedede url(../images/ugol.png) no-repeat 0 0; width: 170px;}
		.allnews a, .readall a {text-align: center !important; font-size: 13px; color: #414042 !important;  line-height: 29px !important; height: 29px; display: block; padding-left: 20px; border-bottom: 0px !important; text-decoration: underline !important}
		.allnews a:hover, .readall a:hover {color: #fe4045 !important; border-bottom: 0px !important; text-decoration: none !important}


	.rightCol {float:right; width: 705px; margin-top: 1px}	
	
		.topMenu {border-radius: 2px; padding: 0 27px; margin-bottom: 17px; background:url(../images/menubg.png) repeat-x 0 0; }

			.topMenu table {list-style: none; margin: 0px; padding: 0px; width: 653px;}
			.topMenu td {text-align: center; font-family: 'MyriadPro-Regular'}
			.topMenu td a {display: block; padding: 5px 15px 6px 15px; color: #fff; font-size: 16px; text-decoration: none; }		
			.topMenu td:hover { }
			.topMenu td a:hover, .topMenu td a:active {color: #fff; background:url(../images/menu_active.png) repeat-x 0 0;} 
			
		.search {box-shadow: 0;  padding: 0 0 0 34px; background:url(../images/s1.png) no-repeat 0 0; height: 32px ; margin-bottom: 7px}

.search .smart-search {
	width: 586px;
	z-index: 1000;
	position: relative;
	padding-left: 0px;
	margin-top: 0px;
	/*font-family: 'PFDinDisplayPro-Light', sans-serif;*/
	float: left;
}
		
.search .smart-search .result {
    display: none;
    padding-left: 0;
    list-style: none;
    position: absolute;
    width: 596px;
    top: 30px;
	margin-top:0px;
    left: 0px;
    z-index: 1;
    height: 196px;
    overflow-y: scroll;
    background: #ffffff;
    box-shadow: 0 0 7px rgba(17, 21, 19, 0.17);
    -moz-box-shadow: 0 0 7px rgba(17, 21, 19, 0.17);
    -webkit-box-shadow: 0 0 7px rgba(17, 21, 19, 0.17);
    -o-box-shadow: 0 0 7px rgba(17, 21, 19, 0.17);
}
.search .smart-search .result li {
    height: 25px;
    line-height: 25px;
    padding-left: 8px;
    font-size: 14px;
    position: relative;
    overflow: hidden;
}
.search .smart-search .result li:hover {
    background: #edeeed;
    cursor: pointer;
}
.search .smart-search .result li:hover:after {
    content: '';
    position: absolute;
    /*background: url('../images/basket.png') no-repeat;*/
    width: 26px;
    height: 21px;
    top: 2px;
    right: 4px;
}
.search .smart-search .result li .name {
    width: 500px;
    height: 23px;
    color: #565656;
    display: inline-block;
    font-family: 'PFDinDisplayPro-Light', sans-serif;
}
.search .smart-search .result li .price {
    font-family: 'PFDinDisplayPro-Medium', sans-serif;
    color: #2f2f2f;
}		
		
			.search input[type="text"] {height: 29px;  border-top:1px solid #fe4045; border-bottom:1px solid #ad272a; border-left:0px; border-right: 0px; width: 576px; line-height: 30px; font-size: 12px; color: #000; padding: 0 10px; float: left}	
			.search input[type="text"]::-webkit-input-placeholder {color:#a0a0a0; font-size: 12px}
			.search input[type="text"]::-moz-placeholder          {color:#a0a0a0; font-size: 12px;}/* Firefox 19+ */
			.search input[type="text"]:-moz-placeholder           {color:#a0a0a0; font-size: 12px;}/* Firefox 18- */
			.search input[type="text"]:-ms-input-placeholder      {color:#a0a0a0; font-size: 12px;}			

			.search input[type="text"]:hover {box-shadow: 0 0 2px #a9a9a9; border-left:0px; border-right:0px; }
			.search input[type="text"]:hover:focus {box-shadow: 0 0 2px #828084; border:1px solid #828084; border-left:0px; border-right:0px; }

			
			.search input[type="submit"] {float: right; width: 75px; background:url(../images/sbg.png) repeat-x left top; border: 0px; color: #fff; font-size: 14px; height: 29px; line-height: 26px; cursor: pointer; box-shadow: 0px 2px 2px #e7e7e7; border-radius: 0 2px 2px 0}		
			.search input[type="submit"]:hover {background:url(../images/sbg.png) repeat-x left bottom;}
		
		.slider {margin-bottom: 6px; border-radius: 2px; padding: 10px; color: #e1e1e1; background: #e1e1e1}	
			.slider img {display: block; margin: 0px; padding: 0px; width: 685px}		
			.example-pager {padding: 12px 0 10px 0; text-align: center; margin: -40px 0 0 0; position: relative; z-index: 333;}
			.example-pager span {width: 13px; height: 13px; background:url(../images/circle.png) no-repeat left top; display: inline-block; margin: 0 6px; cursor: pointer}
			.example-pager span.cycle-pager-active {background:url(../images/circle.png) no-repeat -25px top;}			
			
			
	.prod_items {padding: 0px 0px 20px 0; position: relative; overflow: hidden; }	
		.prev_ref {width: 22px; height: 55px; position: absolute; z-index: 2222; left:1px; top:154px; background:url(../images/arr3.png) no-repeat left top; cursor: pointer; display: block; border-bottom:0px !important}
		.next_ref {width: 22px; height: 55px; position: absolute; z-index: 2222; right:4px; top:154px; background:url(../images/arr3.png) no-repeat right top; cursor: pointer; display: block; border-bottom:0px !important}
		.vklada .next_ref {right: 22px}
		.prev_ref:hover {background:url(../images/arr3.png) no-repeat left -60px}
		.next_ref:hover {background:url(../images/arr3.png) no-repeat right -60px}
		.prev_ref:focus {background:url(../images/arr3.png) no-repeat left -120px}
		.next_ref:focus {background:url(../images/arr3.png) no-repeat right -120px}

		.next_ref.disabled, .prev_ref.disabled, 
		.next_ref.disabled:hover, .prev_ref.disabled:hover {background: none !important}

		div.cycle-slideshow {width: 705px !important}
		div.cycle-slideshow .prod_item {margin-bottom: 0px !important}
//		.cycle-slideshow {overflow: auto !important; }

		.prod_title {text-align: center; font-size: 24px; color: #414042; text-transform: uppercase; background:url(../images/grad.png) repeat-x left top; padding: 5px 0; border-radius: 2px; margin-bottom: 6px; font-weight: bold}
		.prod_title a {color: #414042; text-decoration: none}
		.prod_item {width: 151px; min-height: 320px; border:1px solid #bcbcbc; text-align: center;  font-family: 'MyriadPro-Regular'; padding: 0 10px 2px 10px; font-size: 13px; color: #414042; float:left; margin:3px 4px 3px 0; position: relative !important; border-radius: 5px; vertical-align: top}
		.vklada .prod_item {width: 146px}
		.prod_item.cycle-slide {float:none !important} 

		.prod_item:hover {box-shadow: 0 0 3px #bcbcbc}
				
			.prod_item .pics {display: block; text-align: center; margin-bottom: 0px !important}
			.prod_item .pics span {display: table-cell; vertical-align: middle; text-align: center; height: 150px; width: 147px;}		
			.prod_item .pics span img {display: inline; }

			.prod_item .title {height: 30px; font-size: 13px; overflow: hidden; text-decoration: none; line-height: 15px; display: block; margin: 0 0 3px 0 !important; color: #414042; }
			a.pic_tit {color: #414042; text-decoration: none; clear: both; display: block !important; white-space: normal !important}
			a.pic_tit:hover p {color: #fe4045}

			.prod_item a {border-bottom: 0px !important}									
			.prod_item p.size {line-height: 16px; margin: 0px !important}
			.prod_item p.art {color:#f83e43; margin: 0 0 7px 0 !important; line-height: 16px}
			.prod_item .old_price {font-size: 11px; color: #7a7a7; font-family: 'MyriadPro-Regular'}
			.prod_item .new_price {color:#2f2f2f; font-size: 15px; font-family: 'MyriadPro-Regular'; margin-bottom: 6px; font-weight: bold}
			.prod_item img {max-width: 145px}

			.orange-btn, .prod_item a.tocart, .prod_list .tocart {background:url(../images/butt3.png) no-repeat left top !important; height: 29px; border-radius: 3px; display: block; line-height: 29px; text-decoration: none; margin: auto; box-shadow: 0px 2px 2px #e7e7e7; width: 86px; text-align: left; padding-left: 10px; color: #fff;}
			.orange-btn:hover, .prod_item a.tocart:hover, .prod_list .tocart:hover {background:url(../images/butt3.png) no-repeat left -40px;}
			
			.grey-btn, a.toorder {width: 95px; color: #fff !important; background:url(../images/butt2.png) repeat-x left top; height: 29px; border-radius: 2px; display: block !important; line-height: 29px !important; text-decoration: none; margin: auto; box-shadow: 0px 2px 2px #e7e7e7; text-align: center; border-bottom: 0px !important; font-family: 'MyriadPro-Regular'; text-decoration: none !important}			
			.grey-btn:hover, a.toorder:hover {background:url(../images/butt2.png) repeat-x left bottom;}
			
			.prod_item span.novinka,
			.prod_item span.novinka2,
			.prod_item span.novinka3 {font-size: 12px; font-family: 'MyriadPro-Regular'; display: inline-block; background:url(../images/ico10.png) no-repeat left top; border-radius: 2px; color: #fff;  line-height: 14px; float:left; width: 34px; height: 19px; margin: 3px 10px 0px -7px; box-shadow: 1px 1px 2px #ececec}

			.prod_item span.novinka2{background:url(../images/ico100.png) no-repeat left top; }
						
			.tofavor {font-size: 12px; background:url(../images/ico11.png) no-repeat left top; float:left; margin: 3px 10px 0 -7px; text-decoration: underline !important; color: #7e7e7e; width: 22px; height: 19px; box-shadow: 1px 1px 2px #ececec}
				.tofavor:hover {background:url(../images/ico11.png) no-repeat right top; color: #fe4045}
				.tofavor.active {background:url(../images/ico11.png) no-repeat right top; color: #fe4045; text-decoration: none !important}

/*
			.tocompare {font-size: 12px;  background:url(../images/bg7.png) no-repeat 64px top; float:right; padding: 3px 15px 3px 0px; margin: 6px -7px 0 0; color: #7e7e7e; text-decoration: underline !important;}
				.tocompare:hover, .tocompare.active {background:url(../images/bg7.png) no-repeat -112px top; color: #fe4045}
				.tocompare.active {background:url(../images/bg7.png) no-repeat -113px top; margin-right: -5px; text-decoration: none !important}
*/
			.stars {height: 11px; background:url(../images/star2.png) repeat-x left top; width: 67px; margin: 0 auto 10px auto; text-align: left; position: relative; }	
				.stars a {position: absolute; right:-10px; top:0px; font-size: 12px; border-bottom: 1px solid #dedede !important; color: #7e7e7e; text-decoration: none}				
				.stars span {display: block; height: 12px; background:url(../images/star.png) repeat-x left top; float: left}
				.stars span.q1 {width: 11px}				
				.stars span.q2 {width: 25px}				
				.stars span.q3 {width: 39px}				
				.stars span.q4 {width: 53px}				
				.stars span.q5 {width: 67px}				
			
	.footer {background: #e1e1e1; border-radius: 2px; padding: 14px 0 12px 0px; width: 998px; margin: 0 auto 50px auto}		
		.subsc {float:left; font-size: 15px; color: #414042; text-align: center; margin: 0 10px 0 15px}
			.subsc p {margin: 0 0 12px 0}		
			.subsc input[type="text"] {width: 144px; border: 1px solid #cbcbca; background: #fbfbfb; padding: 4px 5px; color: #acacac; margin-right: 7px; font-family: 'MyriadPro-Regular'; position: relative; top:-2px} 		
			.subsc input[type="submit"] {background:#a7a7a7 url(../images/nbutt.png) no-repeat left top !important; border-radius: 3px; border:0px; color: #626063; font-size: 12px !important; border-radius:2px; width: 93px; height: 28px; text-align: right !important; cursor: pointer}		

			.subsc input[type="text"]:focus {border:1px solid #828084; }
			.subsc input[type="text"]:hover {border:1px solid #999998}
			.subsc input[type="text"]:hover:focus {border:1px solid #828084;}
		
	
		.bottMenu {padding: 5px 0 0 0}
			.bottMenu ul {list-style: none; margin: 0px; padding: 0px; position: relative; top:-1px; display: table; width: 703px;}
			.bottMenu ul li:first-child {background: none}
			.bottMenu ul li {display: table-cell; text-align: center; background:url(../images/line2.png) no-repeat left 7px;}		
			.bottMenu ul li a {display: inline-block; padding: 0px 10px; color: #414042; font-size: 15px; font-family: 'MyriadPro-Regular'; text-decoration: none}		
			.bottMenu ul li.selected a{color: #fe4045}
			.bottMenu ul li a:hover {color: #fe4045}
		
		.soc {float:left; margin:7px 0 0 -10px}
			.soc a {display: inline-block; width: 32px; height: 32px; margin-left: 7px; background:url(../images/social.png) no-repeat left top; }		
			.soc a.s1 {background-position: 0 0;}
			.soc a.s2 {background-position: -40px 0;}
			.soc a.s3 {background-position: -80px 0;}
			.soc a.s4 {background-position: -120px 0;}

		
		
	.fixpanel {width: 100%; height: 50px; background: #fff url(../images/fbg.png) no-repeat center bottom; position: fixed; z-index: 2500; bottom: 0px;   font-family: 'MyriadPro-Regular'; margin: auto; padding-top:5px} 	
		.upgo {text-align: center; font-size: 16px; font-family:'MyriadPro-Regular'; float:left; margin: 9px 0px 0 16px; width: 99px}
			.upgo a {display: block; width: 73px; height: 28px; background:url(../images/up.png) no-repeat left top; color: #414042; line-height: 30px; padding-right:10px;  text-decoration: none; text-align: right}		

		.cab_pan {font-size: 14px; font-family: tahoma; color: #414042; background:url(../images/cabbg.png) no-repeat left top; width: 671px; height: 24px; float:right; margin: 9px 20px 0 0; padding: 4px 0 0 0}
		.cab_pan a {color: #414042; margin-left: 4px; text-decoration: none; border-bottom: 1px solid #414042}		
		.cab_pan a:hover {border-bottom: 0px}

		.favor {float:left; width: 124px; text-align: center;}
		.compare {float:left; /*width: 181px; */text-align: center;}
		.basketb {float:left; width: 232px; text-align: center;}
			.basketb span {margin-left: 3px}		
			.basketb b {font-weight: 100}
		.cabb {float:right; width: 126px; text-align: left}
			.cabb a {text-decoration: none; font-size: 14px; border-bottom:0px}

	.win {background: #fff; padding: 25px 20px; width: 380px; font-family: 'MyriadPro-Regular'; font-size: 14px; display: none}
		.win .desco {line-height: 16px}		
		.win table {width: 100%}	
		.win table td {padding-bottom: 15px; vertical-align: middle}
		.win table tr.prefx td {padding: 0px !important}
		.win table td:first-child {white-space: nowrap; padding-right: 25px; text-align: right; }	
		.win .leaveone {font-size: 12px; color: #a0a0a0; margin: -13px 0  0px 0; position: relative}
			.skoba {position: absolute; right:18px; top:-15px; width: 5px; height: 41px; background:url(../images/skoba1.png) no-repeat left top;}
		.win input[type="text"] {border:1px solid #cccccc; padding: 2px 5px; font-size: 14px; color: #414042; font-family: 'MyriadPro-Regular'; width: 227px}
		.win input[type="text"]:focus {border:1px solid #999998;}
		.win input[type="text"]:hover {border:1px solid #999998}
		.win input[type="text"]:hover:focus {border:1px solid #999998;}
		
		.win input[type="submit"] {width: 117px; background:url(../images/bg1.png) repeat-x left top; border: 0px; color: #fff; font-family: 'MyriadPro-Regular'; font-size: 14px; height: 29px; line-height: 27px; cursor: pointer; display: inline-block; border-radius: 2px; margin-right: 20px; box-shadow: 0px 3px 2px #e7e7e7}	
		.win input[type="submit"]:hover {background:url(../images/bg11.png) repeat-x left top; box-shadow: 0px 2px 2px #c7c7c7}
		.win input[type="submit"]:active {background:url(../images/bg111.png) repeat-x left top; box-shadow: 0px 2px 2px #e0e0e0}

		.win input[type="submit"]:disabled {background: #d0d0d1; box-shadow: none}
		.win input[type="submit"]:disabled:hover {background: #d0d0d1; cursor: default}
		.win input[type="submit"]:disabled:active {background: #d0d0d1} 
				
		.win a.close {color: #7a7a7a; font-size: 14px}		
		.win a:hover {color: #fe4045; white-space: normal}		
		
	
	.content_in {font-family: 'MyriadPro-Regular'; font-size: 14px; color: #414042; line-height: 18px}	
		.content_in a {color: #7e7e7e; text-decoration: none; border-bottom: 1px solid #dedede; display: inline-block; line-height: 14px}
		.content_in a:hover {border-bottom: 1px solid #fe4045; color: #fe4045}
		.content_in p {margin: 0 0 10px 0;}		
		
		.breadcrump {padding: 0px 0 0px 10px; background: #dedede; border-radius: 3px; margin-bottom: 7px}
			.breadcrump, .breadcrump a {font-size: 14px; color: #414042}
			.breadcrump a {padding: 10px 19px 5px 3px; background:url(../images/sep.png) no-repeat right top; display: inline-block; text-align: center; border-bottom: 0px}
			.breadcrump a:hover {border-bottom: 0px}
			.breadcrump h1 {display: inline; font-size: 14px; color: #828084; font-weight: 100}		
			.breadcrump span {margin: 0 5px}		
			
		.news_item {margin: 0 0 10px 0; clear: both}	
			.news_grey {background: url(../images/promBG.png) repeat-x right top; border:0px; border-radius: 2px; padding: 15px; margin: 0  }
				.news_grey .n_date {font-size: 14px; color: #a0a0a0; margin-right: 25px}
				.news_grey a.n_title {font-size: 14px; color: #7e7e7e; font-family:'MyriadPro-Regular'; border-bottom: 0px;font-weight: bold;}
				.news_grey .n_text {margin: 15px 0 0 0}
				.news_dop {position: relative; margin: 0 0 10px 0}
				.news_dop img {margin: 0px; padding: 0px; display: block}
/*				.readall {border: 1px solid #e4e4e4; padding: 12px 0; text-align: center; margin: -1px 0 0 0; font-family:'MyriadPro-Regular';}

				.readall a {color: #7a7a7a; text-decoration: none; border-bottom: 1px solid #dedede; display: inline-block; line-height: 14px; font-size: 14px}				
				.readall a:hover {border-bottom: 1px solid #fe4045; color: #fe4045}
	*/			
				
		.pagenav {margin: 0 0 10px 11px; clear: both}		
			.pagenav span {font-size: 12px; color: #7a7a7a}
			.pagenav .rightdigit {float:right}
			.pagenav .rightdigit b {color: #a0a0a0; font-weight: 100; margin: 0 0 0 15px}
			.pagenav .rightdigit a {margin: 0 0 0 15px}
			.pagenav .rightdigit a:hover {color: #fe4045}

		.nedavno {margin: 0 0 10px 0; width: 290px}
			.forbord {}
			.nedavno > .title {font-size: 13px; color: #414042;  font-family:'MyriadPro-Bold';  text-align: center; color: #414042;
background: url(../images/grad.png) repeat-x 0 0;
padding: 10px 0;
margin-bottom: 10px;
text-transform: uppercase;
border-radius: 2px 2px 0 0;				
			}
			.nedavno .prod_item {float:none; margin: auto; border: 0px; min-height: 150px; }		
			.nedavno .prod_item:hover {box-shadow: none !important}
			
		.news_detail {padding: 5px 0 10px 10px}	
		.news_detail img {float:left; margin: 0 18px 10px 0}				
		
		
		.func_panel {padding: 7px 10px 5px 14px; margin: 0 0 10px 0; font-size: 14px; border-top:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1}
			.func_panel > span {float:left; margin: 5px 10px 0 0} 		
			.func_panel select {float:left; margin: 0 20px 0 0}
			.func_panel .rightdigit {float: right; margin-top: 5px}
			.func_panel .rightdigit a, .func_panel .rightdigit b, .func_panel .rightdigit span {margin-left: 18px;  font-weight: 100}
			.func_panel .rightdigit b {color: #a0a0a0}
			.func_panel .rightdigit a:hover {color: #fe4045}
									
			a.vidlist1 {width: 22px; height: 22px; float:left; background:url(../images/plashki.png) no-repeat left top}		
			a.vidlist2 {width: 22px; height: 22px; float:left; background:url(../images/plashki.png) no-repeat right top}		
			a.vidlist1:hover {background-position: left -40px; border: 0px}		
			a.vidlist2:hover {background-position: right -40px; border: 0px}		
			a.vidlist1:active {background-position: left -80px; border: 0px}		
			a.vidlist2:active {background-position: right -80px; border: 0px}		

			.spiskom a.vidlist1 {background-position: left -150px;}
			.spiskom a.vidlist2 {background-position: right -150px;}
			.spiskom a.vidlist1:hover {background-position: left -190px;}
			.spiskom a.vidlist2:hover {background-position: right -190px;}
			.spiskom a.vidlist1:active {background-position: left -230px;}
			.spiskom a.vidlist2:active {background-position: right -230px;}


		.tocart {color: #fff; background:url(../images/bg1.png) repeat-x left top; height: 29px; border-radius: 3px; display: block; line-height: 29px; text-decoration: none; margin: auto; box-shadow: 0px 2px 2px #e7e7e7; border: 0px; font-size: 14px;  font-family:'MyriadPro-Regular'; margin-bottom: 10px; cursor: pointer}
			.tocart:hover {background:url(../images/bg11.png) repeat-x left top; color: #fff !important; box-shadow: 0px 2px 2px #c7c7c7}
			.tocart:active {background:url(../images/bg111.png) repeat-x left top; color: #fff !important; box-shadow: 0px 2px 2px #e0e0e0}

		
		.cart_item {padding: 0}	
		.cart_item .prod_title {text-align: left; font-size: 18px !important; color: #414042;  padding: 5px 0; background: none; text-transform:none; font-weight: 100; line-height: 23px}

		
			.tool_pic {width: 300px; min-height: 260px;  float:left; margin-right: 20px; margin-left: 7px}
				.tool_pic span {margin-right: 5px}
				.tool_pic p {display: table; height: 270px}			
				.tool_pic p span {display: table-cell; vertical-align: bottom; text-align: center; margin: 0px}			
				.cmpr {float:right; color: #9a9b9b; font-size: 15px; margin: 4px 0 0 0}
				.tool_pic .tofavor {margin-top: 0px; border-bottom: 0px; }
				.tool_pic .tofavor:hover {border-bottom: 0px}
				.addresp {float: right}


			.tool_p2 {float:left; width: 375px; font-size: 13px;  font-family:'MyriadPro-Regular';  padding: 5px 0 0 0}
				.tool_p2 .stars {margin: 0 0 17px 0}
				.tool_p2 .stars a {left: 80px; font-size: 14px; color: #414042; font-weight: 100; white-space: nowrap; right: auto !important}
				.tool_p2 p.kod {margin-bottom: 10px; }
				.tool_p2 p.kod b {color: #f83e43; font-size: 18px}
				
				.tool_p2 .old_price {font-size: 18px; color: #414042; margin: 0 0 10px 0; display: block}
				.tool_p2 .new_price {font-size: 21px; color: #f83e43; margin: 0 0 15px 0; font-weight: bold}
				.tool_p2 .kol {font-size: 14px; color: #414042; font-family:'MyriadPro-Regular';  margin: 0 0 16px 0; padding: 10px 0; border-top:1px solid #dedede; border-bottom:1px solid #dedede; line-height: 22px}
				.tool_p2 .kol p {margin: 0}

				.tool_p2 .tocart {width:172px; margin-bottom: 10px}
			
				.tool_p2 .tofavor, .tool_p3  .tocompare {border-bottom: 0px}
				.tool_p2 .tofavor:hover, .tool_p3  .tocompare:hover {border-bottom: 0px}				
				.tool_p2  .tocompare {background-position: 66px top}
				.tool_p2  .tocompare:hover {background-position: -110px top}
				.tool_p2 .buytoclick {width: 169px}
				
				.buyb {width: 140px; height: 30px; background:url(../images/buy2.png) no-repeat left top; color: #fff; line-height: 32px}
					.buyb:hover {background:url(../images/buy2.png) no-repeat left -49px}
					.buyb span {margin-left: 10px; margin-right: 5px}
					.buyb span:hover {cursor: default}
					.buyb input[type="text"] {width: 25px; background: none; border: 0px; text-align: center; margin-right: 20px}
					.buyb input[type="submit"] {display: inline-block; width: 30px; height: 30px; background: none; text-indent: -1000px; border: 0px; cursor: pointer; }
				
				a.buytoclick {border: 2px solid #fe4045; height: 25px; border-radius: 1px; display: block !important; line-height: 25px !important; box-shadow: 0px 2px 2px #e7e7e7; font-size: 14px;  font-family:'MyriadPro-Regular'; width: 172px; display: block; text-align: center; margin: 0 0 10px 0; color: #fe4045 !important}
					a.buytoclick:hover {box-shadow: 0px 2px 2px #c7c7c7; border-bottom: 2px solid #fe4045;}
					a.buytoclick:active {box-shadow: 0px 2px 2px #e0e0e0}

				.shtuk input[type="text"] {border:1px solid #cccccc; padding: 2px 5px 0 5px; font-size: 14px; color: #414042; font-family:'MyriadPro-Regular'; width: 40px; margin-top: -4px;  text-align: center}
				.shtuk input[type="text"]:focus {border:1px solid #999998;}
				.shtuk input[type="text"]:hover {border:1px solid #999998}
				.shtuk input[type="text"]:hover:focus {border:1px solid #999998;}


		input[type="text"].inp, input[type="password"].inp, .txtar {border:1px solid #cccccc; padding: 2px 5px; font-size: 14px; color: #414042; font-family:'MyriadPro-Regular'; width: 227px}
		input[type="text"].inp:focus, input[type="password"].inp:focus, .txtar:focus {border:1px solid #999998;}
		input[type="text"].inp:hover, input[type="password"].inp:hover, .txtar:hover {border:1px solid #999998}
		input[type="text"].inp:hover:focus, input[type="password"].inp:hover:focus, .txtar:hover:focus {border:1px solid #999998;}
		
		input[type="submit"].butt, a.butt {width: 117px !important; background:url(../images/bg1.png) repeat-x left top; border: 0px; color: #fff; font-family: 'MyriadPro-Regular'; font-size: 14px; height: 29px !important; line-height: 27px; cursor: pointer; display: inline-block; border-radius: 2px; margin-right: 20px; box-shadow: 0px 2px 2px #e7e7e7; text-transform: capitalize; box-shadow: 0 0}	
		a.butt  {line-height: 29px !important}
		input[type="submit"].butt:hover, a.butt:hover {background:url(../images/bg11.png) repeat-x left top; box-shadow: 0px 2px 2px #c7c7c7; color: #fff; box-shadow: 0 0; border: 0px}
		input[type="submit"].butt:active, a.butt:active {background:url(../images/bg111.png) repeat-x left top; box-shadow: 0px 2px 2px #e0e0e0}


				
		.vkladki {margin: 39px 0 10px 0;}	
/*
		.vkladki a {display: inline-block; padding: 12px 20px 14px 20px; font-size: 18px; color: #7a7a7a; font-family:'MyriadPro-Regular'; border-bottom: 0px; border-left:1px solid #e4e4e4; margin-right: -3px; position: relative; top:1px}	
		.vkladki a:first-child {border-left:0px}
		.vkladki a:hover {border-bottom: 0px}
		.vkladki a.active {border-bottom: 0px; color: #2f2f2f; padding-top: 12px; position: relative; top:2px; background: #fff}				
*/
		.vklada h2 {font-size: 15px; font-family:'MyriadPro-Bold'; font-weight: 100; margin: 15px 0 10px -10px; padding: 20px 15px 0 12px ; border-top: 1px solid #dedede}
		.vklada	table {margin: 0 0 5px 0}
		.vklada	table td {padding: 0 20px 3px 0; color: #414042; }
		.vklada hr {border:0px; border-bottom: 1px solid #e4e4e4; background: none; height: 1px; line-height: 1px; }

		.docs {font-size: 14px; color: #414042; padding-right: 20px; display: block; background:url(../images/ico5.png) no-repeat right 0px; border-bottom: 0px !important; padding: 3px 18px 3px 0}
		.docs span {border-bottom: 1px solid #dedede;}
		.docs:hover span {border-bottom: 1px solid #fe4045;}
		.docs:hover {background-position: right -34px}

		.showall {text-align: center; margin: auto}
		.showall a {float:right; display: inline-block; padding: 4px 22px 3px 0px; background:url(../images/arr4.png) no-repeat right 2px; border-bottom: 0px !important;}
		.showall a:hover {background-position:right -23px}
		.showall span {border-bottom: 1px solid #dedede;}
		.showall a:hover span {border-bottom: 1px solid #fe4045;}

		#vk1 {padding: 0 10px; display: block}
		#vk2 {padding: 0 10px; display: none}
		#vk3, #vk4 {padding: 0 0px; display: none}
		
		.resp_item {margin: 0 0 30px 0; }
			.resp_item .stars {float: left; margin-right: 8px; margin-top: 2px  }		
			.resp_item .resp_author {float: left; margin-right: 5px}		
			.resp_item .resp_date {float: left; font-size: 14px; color: #a0a0a0}
			.resp_item .resp_text span {font-size: 14px; color: #a414042; margin-right: 10px; font-weight: bold}		
			.resp_item .resp_text p {margin: 0 0 4px 0 !important}			
			
		.add_resp {background:url(../images/shad2.png) repeat-x right top; margin-left: -8px}
		.add_resp h2 {color: #2f2f2f; padding: 17px 0 0 20px; margin-bottom: 30px; border-top:0px; }
			.add_resp table td {padding: 0px 18px 5px 0; font-family:'MyriadPro-Regular'; vertical-align: top}
			.add_resp table tr.opadd td {padding-bottom: 7px }
			.add_resp table td:first-child {text-align: left; padding-top: 4px; padding-left: 12px}
			.add_resp table td .stars {float: left; margin: 3px 0 0 0}			
			.add_resp table td textarea {width: 520px; height: 40px}			
			.add_resp table td img {float:left; margin: 0 10px 0 0}
			.add_resp table td a {font-size: 14px; color: #414042; border-bottom: 1px solid #414042}
			.add_resp table td span {color: #f83e43}
			.add_resp table td .butt {background:url(../images/butt4.png) repeat-x left top; box-shadow: none; height: 27px}
			.add_resp table td .butt:hover {background:url(../images/butt4.png) repeat-x left -40px; box-shadow: none}

		.rate {
		  margin: 5px 0 0 0;
		  padding: 0;
		  font-size: 0;
		  height: 11px;
		  width: 70px
		}
		.rate:hover .star, .rate .star.active {
		  color: #06c;
		  background:url(../images/star.png) no-repeat left top;	  
		}
		.rate .star {
		  height:11px; 
		  width: 14px;
		  display: inline-block;
		  cursor: pointer;
		  background:url(../images/star2.png) no-repeat left top;
		}
			.rate .star:before {
			  background:url(../images/star2.png) no-repeat left top;
			}
		.rate .star:hover ~ .star {
			  background:url(../images/star2.png) no-repeat left top;
		}			
		
		
		.order_complete {padding: 30px 0 0 0; color: #2f2f2f}
			.order_complete h2 {font-size: 26px; font-family:'MyriadPro-Regular'; font-weight: 100; margin: 0 0 24px 10px}		
			.order_complete > p {font-size: 18px; margin: 0 0 30px 10px}			
			.order_more {border: 1px solid #e4e4e4; border-radius: 2px; padding: 20px 14px 10px 14px; margin: 0 0 0 3px}
				.order_more td:first-child {color: #a0a0a0; padding: 0 20px 10px 0}			
				.order_more b {font-size: 16px}			
				.order_more p {color: #a0a0a0}			
			
		.notauth {font-family:'MyriadPro-Regular';}	
		.notauth .block-title {margin-top: 20px; float:left; margin-right: 20px; margin-bottom: 25px !important }
		.uchetn {float:left; font-size: 14px; margin-top: 29px}
		
		.form1 {clear: left; float:left; margin: 0 0 0 216px}
			.form1 td {padding: 0 20px 14px 0; font-size: 14px}
			.form1 td:first-child {text-align: right; vertical-align: middle}		
			.form1 a {color: #2f2f2f; text-decoration: none; border-bottom: 1px solid #dedede; display: inline-block; line-height: 14px}
			.form1 a:hover {border-bottom: 1px solid #fe4045; color: #fe4045}
			.form1 input[type="submit"] {width: 95px;}
			
		.notauth .enter {clear: both !important; }	
		.notauth .enter .enter-soc {padding-left: 280px !important; margin-top: 24px !important;}			
			
		.frstbuy {float:right; width: 220px; margin: 28px 60px 0 0}	
			.frstbuy input {width: 222px !important; margin-bottom: 10px}		
			.frstbuy p {margin: 0 0 32px 0; font-family: 'MyriadPro-Regular',}			

			.frstbuy a {
			    display: inline-block;
			    vertical-align: top;
			    width: 200px !important;
			    margin: 0 0 10px 0;
			    height: 26px;
			    line-height: 26px;
			    border: 1px solid #d3d3d3;
			    border-radius: 1px;
			    text-align: center;
			    font-size: 14px;
			    color: #414042;
			    text-decoration: none;
			    font-family: 'MyriadPro-Regular', sans-serif;
			    box-shadow: 0 2px 3px rgba(17, 19, 21, 0.05);
			    -moz-box-shadow: 0 2px 3px rgba(17, 19, 21, 0.05);
			    -webkit-box-shadow: 0 2px 3px rgba(17, 19, 21, 0.05);
			    -o-box-shadow: 0 2px 3px rgba(17, 19, 21, 0.05);
			}
			.frstbuy a:hover {
			    box-shadow: 0 2px 3px rgba(17, 19, 21, 0.1);
			    -moz-box-shadow: 0 2px 3px rgba(17, 19, 21, 0.1);
			    -webkit-box-shadow: 0 2px 3px rgba(17, 19, 21, 0.1);
			    -o-box-shadow: 0 2px 3px rgba(17, 19, 21, 0.1);
			}
			.frstbuy a:active {
			    box-shadow: 0 2px 3px rgba(17, 19, 21, 0.05), inset 0 5px 5px rgba(17, 19, 21, 0.07);
			    -moz-box-shadow: 0 2px 3px rgba(17, 19, 21, 0.05), inset 0 5px 5px rgba(17, 19, 21, 0.07);
			    -webkit-box-shadow: 0 2px 3px rgba(17, 19, 21, 0.05), inset 0 5px 5px rgba(17, 19, 21, 0.07);
			    -o-box-shadow: 0 2px 3px rgba(17, 19, 21, 0.05), inset 0 5px 5px rgba(17, 19, 21, 0.07);
			}			
			.frstbuy a.butt {color: #fff; border: 0px}			
			
		.reg-entity label input {color: #414042; font-size: 14px; font-family:'MyriadPro-Regular'; line-height: 23px}	
		.dopmarg.butt {margin: 15px 0 0 204px} 
		.regedittext {font-size: 12px; color: #a0a0a0; display: inline-block; line-height: 14px; font-family: 'MyriadPro-Regular', sans-serif; position: relative; top:6px; left: -10px} 	
		
		.prod_list {width: 100%; margin: 0 0 10px 0}
			.prod_list th {font-size: 12px; color: #414042; text-align: center; white-space: nowrap; font-weight: 100; padding: 4px 5px; border-bottom:1px solid #e4e4e4;}
			.prod_list th:nth-child(1) {text-align: left; padding-left: 14px;}
			.prod_list th:nth-child(2) {text-align: left; }
			.prod_list th:last-child {padding-right: 0px; border-bottom: 0px !important; background: none !important}		

			.prod_list td {padding: 5px 10px 3px 10px; font-size: 14px; color: #414042; vertical-align: middle; border-bottom:1px solid #e4e4e4; line-height: 15px;  font-family: 'MyriadPro-Regular', sans-serif;}	
			
			.prod_list td:first-child {color: #414042; font-size: 13px; font-family: 'MyriadPro-Bold', sans-serif; }		
			.prod_list td:last-child {border-bottom: 0px !important; background: none !important}		
			.prod_list tr:nth-child(2n+1) td {background: #f3f3f3}

			.prod_list td a {color: #414042; border-bottom: 0px; text-decoration: underline}						
			.prod_list td a:hover {border-bottom: 0px}
			.prod_list input[type="text"] {width: 35px}
			.prod_list input[type="submit"] {width: 75px; text-transform: lowercase}
			.prod_list .toorder {width: 96px !important; margin: 0px}
			.prod_list input.inp {font-size: 13px; padding: 1px 5px 0px; width: 30px; text-align: center}
			.prod_list .old_price {font-size: 11px; color: #fe4045}			
			.prod_list .new_price {font-size: 14px; color: #2f2f2f; font-family: 'MyriadPro-Bold', sans-serif;}			
			
		
		.comparelist .block-title {padding-left: 0px !important}	
		.comparelist .basket {margin: -15px 0 0 0; }		
		.comparelist .basket .smart-search	{padding-left: 0px !important}	

		.table_compare table {width: 100%}
		.table_compare td:first-child {width: 90px}
		.table_compare td {padding: 5px 13px; }
		.table_compare tr.frst td {border:1px solid #e4e4e4; padding: 20px 13px 15px 13px; border-bottom: 0px; }
		.table_compare tr:nth-child(2n) td {background: #f6f6f6}
		.table_compare tr:nth-child(2) td {background:url(../images/bbb.png) repeat-x left top; padding-top: 20px !important; }
		
			.table_compare .jq-selectbox__select {width: 150px}
			.table_compare .jq-selectbox {margin-right: 0px}
			.razlich {padding: 120px 0 0 0}
				.razlich a {margin: 8px 0 0px 0}
				.razlich a.active {color: #a0a0a0; border-bottom: 0px}		
				
			.table_compare .prod_item {border:0px; padding: 0px; float: none; min-height: 190px !important; margin: auto}	
			.table_compare .prod_item:hover {box-shadow: none !important}
			.table_compare .prod_item .pics span {height: 100px !important}
			
			.delete_comp {background: url('../images/delete-btn.png') no-repeat; width: 16px; height: 16px; margin-top: 1px; cursor: pointer; display: block; float:right; border:0px !important; margin: -10px -5px 0 0}	
			.delete_comp:hover {background-position: 0 -16px;}
			
			
			.grey-btn {display: inline-block !important}
			.orange-btn {}
			
			
	.filter {background: url('../images/shad.png') repeat-x left top !important; border: 0px !important}		
	.filter .title {color: #414042; font-weight: 100; font-family: 'MyriadPro-Bold' !important; }
	.filter .brands .list .name {font-size: 13px !important}
	.filter .brands .list label.checkbox {margin-bottom: 2px}
	
	input.price-lower-val, input.price-upper-val {font-size: 13px !important; width: 58px !important}
	.filter .set-filter {margin-top: 31px !important}

	.filter .set-filter button {line-height: 26px; height: 27px !important; font-size: 14px !important; width: 85px !important; color: #fff !important; border-radius: 3px !important; background:url(../images/butt2.png) repeat-x left top !important;}
//	.filter .set-filter button.off, .filter .set-filter button.off:hover { background:url(../images/butt2.png) repeat-x left top !important;}
	.filter .set-filter button:hover {background:url(../images/butt2.png) repeat-x left bottom !important;}

	.filter .set-filter .clear-ftr {line-height: 29px; height: 27px !important; font-size: 14px !important; width: 120px !important; color: #fff !important; border-radius: 3px !important; background:url(../images/butt2.png) repeat-x left top !important; text-align: center; display: block; float:right; border-bottom: 0px; box-shadow: 0px 2px 2px #e7e7e7;}
	.filter .set-filter .clear-ftr:hover {background:url(../images/butt2.png) repeat-x left bottom !important; border-bottom: 0px}
	.filter .set-filter .clear-ftr.off, .filter .set-filter .clear-ftr.off:hover {background: #d0d0d1 !important; box-shadow: none}
	
	.view-all-ftr {border: 0px !important; font-size: 14px !important; text-align: left !important}
	.price-range-slider {margin-top: 0px !important}	
	
	.func_panel .pre {color: #414042; font-weight: 100; font-family: 'MyriadPro-Bold' !important;}
	.jq-selectbox__select {font-family: 'MyriadPro-Regular', sans-serif;}

	.rightdigit {margin-top: 1px !important}
	.rightdigit a, .rightdigit b {border-bottom: 0px; margin-left: -1px !important; display: inline-block;  width: 23px; height: 22px; background:url(../images/navBG.png) no-repeat left top; text-align: center; line-height: 25px; color: #414042}
	.rightdigit b {background:url(../images/navBG.png) no-repeat right top; color: #fff !important}
	.rightdigit a:hover {border-bottom: 0px }	
	#fixs {position: relative; top:1px }
	
	.news_dop {position: relative; margin: 0 0 10px 0px}
	.news_dop .prod_item {margin: 3px 0px 3px 6px; width: 145px}
	
	.posrel {position: relative}
	.posrel .prod_item {position: absolute !important; background: #fff; display: none; z-index: 1111; margin-top: -2px}
	.posrel .old_price {color: #414042;}
	.posrel .new_price {color: #414042; font-weight: 100}		


.order_final {color: #414042; font-size: 14px; padding: 10px 17px}
	.order_final .zakaz {font-size: 16px; font-family: 'MyriadPro-Bold' !important; margin-bottom: 15px}
	.order_final .zakaz span.red {color: #f83e43}
	.order_final p {margin-bottom: 5px}
	
.paddpol {padding: 0 0px !important; width: 695px !important; overflow: hidden}	
	.paddpol .prev_ref {left: 10px}
	.paddpol .next_ref {right: 20px}
	
	
.tab-menu {
  display:  table;
  list-style: none;
  padding: 0;
  padding-left: 60px;
  /*background: #f6f6f6;*/
}
.tab-menu__item{
  display: inline-block;
  position: relative;
  /*margin-left: -71px;*/
  margin-left: -67px;
  float: left;
  z-index: 1;
}
.tab-menu__item:first-child:before {
  display: inline-block;
  content: '';
  background: url(../images/tab-regular-l-clean.png) no-repeat;
  width: 34px;
  height: 39px;
}
.tab-menu__item_active:first-child:before {
  display: inline-block;
  content: '';
  background: url(../images/tab-active-l-clean.png) no-repeat;
  width: 34px;
  height: 39px;
}
.tab-menu__item:first-child {
	margin-left: -65px;
}
.tab-menu__item:before {
  display: inline-block;
  content: '';
  background: url(../images/tab-regular-l.png) no-repeat;
  width: 43px;
  height: 39px;
  transform: translate3d(0,-1px,0);
}
.tab-menu__item:after {
  display: inline-block;
  content: '';
  background: url(../images/tab-regular-r-clean.png) no-repeat;
  width: 43px;
  height: 39px;
  transform: translate3d(0,-1px,0);
}
.tab-menu__item:last-child:after {
  background: url(../images/tab-regular-r-clean.png) no-repeat;
  width: 43px;
  height: 39px;
}
.tab-menu__item_2.tab-menu__item_active:after{
	  background: url(../images/tab-active-r-clean.png) no-repeat;
} 
.tab-menu__item:first-child a {
	margin-left: -2px;
}

.tab-menu__item_active a {
  background: rgba(225,225,225,1);
  background: -moz-linear-gradient(top, rgba(225,225,225,1) 0%, rgba(254,254,254,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(225,225,225,1)), color-stop(100%, rgba(254,254,254,1)));
  background: -webkit-linear-gradient(top, rgba(225,225,225,1) 0%, rgba(254,254,254,1) 100%);
  background: -o-linear-gradient(top, rgba(225,225,225,1) 0%, rgba(254,254,254,1) 100%);
  background: -ms-linear-gradient(top, rgba(225,225,225,1) 0%, rgba(254,254,254,1) 100%);
  background: linear-gradient(to bottom, rgba(225,225,225,1) 0%, rgba(254,254,254,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e1e1', endColorstr='#fefefe', GradientType=0 );
}
.tab-menu__item_active {
  margin-left: -60px;
  /*margin-right: 6px;*/
  z-index: 6;
}
.tab-menu__item_active + li {
  z-index: 4
}
.tab-menu__item_active + li + li{
  z-index: 3
}
.tab-menu__item_active + li + li + li {
  z-index: 2;
}
.tab-menu__item_active + li:after {
  background: url(../images/tab-regular-r.png) no-repeat;
  width: 42px;
  height: 39px;
}
.tab-menu__item:first-child + li + li a {
	margin-left: -2px;
}
.tab-menu__item_active + li + li:after {
  background: url(../images/tab-regular-r.png) no-repeat;
  width: 42px;
  height: 39px;
}
.tab-menu__item + li + li + .tab-menu__item_active:after {
  background: url(../images/tab-active-r-clean.png) no-repeat;
  height: 39px;
}

.tab-menu__item:first-child + .tab-menu__item_active:before {
  margin-left: -7px;
  background: url(../images/tab-active-l.png) no-repeat;
  width: 42px;
  height: 39px;
}

.tab-menu__item + li + .tab-menu__item_active:before {
  background: url(../images/tab-active-l.png) no-repeat;
  width: 42px;
  height: 39px;
}
.tab-menu__item:first-child + li + .tab-menu__item_active{
  z-index: 5;
  margin-left: -67px !important;
}
.tab-menu__item:first-child + li + li + .tab-menu__item_active{
  z-index: 5;
  margin-left: -67px !important;
}
.tab-menu__item_active:before {
  display: inline-block;
  content: '';
  background: url(../images/tab-active-l-clean.png) no-repeat;
  width: 34px;
  height: 39px;
}
.tab-menu__item_active:after {
  display: inline-block;
  content: '';
  background: url(../images/tab-active-r.png) no-repeat;
  width: 42px;
  height: 39px;
}

.tab-menu__item_shadow:before {
  width: 43px;
  background: url(../images/tab-regular-l.png) no-repeat;
}
.tab-menu__link {
  display: inline-block;
  padding: 0 29px;
  margin-left: -3px;
  margin-right: -3px;
  height: 34px;
  line-height: 35px !important;
  text-align: center;
  text-decoration: none;
  color: #414042 !important;
  font-size: 18px; color: #7a7a7a; 
  font-family:'MyriadPro-Regular'; 
  border: 0px !important;
  font-size: 15px;
  vertical-align: top;
  white-space: nowrap;
  background: url(../images/tab-regular-bg.png) repeat-x;
  background-size: contain;
}
.tab-menu__item a:hover{
  color: #fe1b22 !important;
  border: 0px !important;
}
.tab-menu__item_reg-hover a{
	background: url(../images/tab-regular-bg-hover.png) repeat-x;
	background-size: contain;
}
.tab-menu__item_reg-hover:before{
	background: url(../images/tab-reg-hover-l.png) no-repeat !important;
	z-index: 3;
}
.tab-menu__item_reg-hover:after{
	background: url(../images/tab-reg-hover-r.png) no-repeat !important;
}
.tab-menu__item_reg-hover-clean-l:before{
	margin-left: -9px;
	width: 43px !important;
	background: url(../images/tab-reg-hover-clean-l.png) no-repeat !important;
}
.tab-menu__item_reg-hover-clean-l:after{
	background: url(../images/tab-reg-hover-r.png) no-repeat !important;
}
.tab-menu__item_reg-hover-clean-l a{
	background: url(../images/tab-regular-bg-hover.png) repeat-x;
}
.tab-menu__item_reg-hover-clean-r:before{
	background: url(../images/tab-reg-hover-l.png) no-repeat !important;
}
.tab-menu__item_reg-hover-clean-r:after{
	background: url(../images/tab-reg-hover-clean-r.png) no-repeat !important;
}
.tab-menu__item_reg-hover-clean-r a{
	background: url(../images/tab-regular-bg-hover.png) repeat-x;
}
@media screen and (max-width: 1920px) {
	.tab-menu__item:first-child a,
	.tab-menu__item:first-child + li + li a	{
		margin-left: -3px;
	}
}



.register_user {margin: 10px 0 30px 0;}
	.us_dan {padding: 10px 0 10px 20px; color: #414042; font-size: 15px; font-family: 'MyriadPro-Regular'; 
		background: url(../images/regBG.png) repeat-x; border-radius: 3px; font-weight: bold}
	.edit_mode .us_dan {background: none}
	.labform {width: 165px; display: inline-block; margin: 0 0 0 20px}
	.labform b {color: #f83e43; font-weight: 100}	
	.inptext {width: 270px; display: inline-block; font-size: 10px; line-height: 14px; position: relative; top:4px}
	.user_field {margin: 0 0 7px 0}
	.user_field span {display: inline-block; padding: 5px 0; min-height: 20px}
	.user_field .jq-checkbox {margin: 0 10px 0 20px; float:left; }
	.user_field .jq-checkbox.checked .jq-checkbox__div {top:0px; right: -1px}
	.user_field label {margin-left: 0px; width: 640px}		
	.smaller {font-size: 11px}
	.register_user input[type="text"], 
	.register_user input[type="password"] {width: 200px; border: 1px solid #cbcbca; background: #fff; padding: 3px 5px; color: #414042; margin-right: 10px; font-family: 'MyriadPro-Regular'; position: relative; top:-2px; font-size: 14px; } 		
	.register_user input[type="submit"] {background:#a7a7a7 url(../images/nbutt.png) no-repeat left top; border-radius: 3px; border:0px; color: #626063; font-size: 12px; border-radius:2px; width: 93px; height: 28px; text-align: right; cursor: pointer; box-shadow: 1px 1px 2px #ececec}		

	.register_user input[type="text"]:focus {border:1px solid #828084; }
	.register_user input[type="text"]:hover {border:1px solid #999998}
	.register_user input[type="text"]:hover:focus {border:1px solid #828084;}
	
	.separate {border-bottom:1px solid #e1e1e1; height: 1px; font-size: 1px; padding: 5px 0; margin-bottom: 15px}
	.infocomp {font-size: 14px; margin: 17px 0 15px 20px}
	.register_user .jq-selectbox {float: none}
	
	.edit_link {padding: 0 0 0 27px; background: url(../images/ico22.png) no-repeat left top; margin: 0 0 0 15px; display: inline-block}
		.edit_link a {color: #414042; border-bottom: 0px; text-decoration: underline; font-size: 12px}	
		.edit_link a:hover {border-bottom: 0px}
	
	.fleft {display: inline-block !important}
		
	.wd1 .jq-selectbox__select {width: 33px;}
	.wd1 .labform {float:left}	
	.wd1 .jq-selectbox {float:left}
	.wd1 .inptext {top:1px}
	
	.infocomp2 {font-size: 15px; margin: 17px 0 15px 20px; font-family:'MyriadPro-Bold';}
	.wd2 .jq-selectbox__select {width: 200px;}
	.mrleft {margin: 25px 0 5px 188px; width: 292px; text-align: center}
	.mrleft2 {margin: 25px 0 5px 188px; width: 322px; text-align: center}
	.mrleft3 {margin: 25px 0 7px 187px; text-align: left; color: #828084}

	.width2 input[type="text"] {width: 280px}
	.width3 input[type="text"] {width: 320px}
	.width4 input[type="text"] {width: 40px}
	.width4 span {margin-right: 5px}
	.width4 input[type="text"].wdd4 {width: 137px}
	.width5 .labform {float: left}
	.labform.grey {color: #828084}
	.width5 img {float: left; margin: 0 10px 5px 0; }
	.width5 input[type="text"] {width: 105px}
	.width5 a {color: #414042; font-size: 14px; margin-left: 170px; margin-top: -5px; display: inline-block; margin-left: 186px}
	
	table.regadd {width: 100%; margin: 25px 0 0 0}
		table.regadd 	td {vertical-align: middle; text-align: center; border: 1px solid #cbcbca; }
		table.regadd 	td:first-child {width: 100px; text-align: left; padding-left: 20px; border:0px}
		table.regadd 	.thead td {font-size: 11px; line-height: 14px; vertical-align: top; padding-bottom: 4px; border:0px}
		table.regadd 	.thead td p {font-size: 14px; margin: 0px; }
		table.regadd 	input[type="text"] {width: 178px; border: 0px; top:0px; margin-right: 0px; padding: 2px 5px}
		table.regadd 	input[type="text"]:hover, table.regadd 	input[type="text"]:hover:focus, table.regadd 	input[type="text"]:focus {border:0px}
		
		table.regadd.filled td {border: 0px; text-align: left; vertical-align: middle; padding: 4px 0 2px 5px}
		table.regadd.filled td:nth-child(3) {color: #828084}
		table.regadd.filled tr:nth-child(2n+1) {background: #f3f3f3}
		table.regadd.filled .thead td {color: #828084; background: #fff !important}
		table.regadd.filled td:first-child {background: #fff; padding-left: 20px}
				
.register_user input[type="submit"]{
	display: inline-block;
	margin: 0 10px 0 14px !important;
	height: 27px !important; 
	line-height: 28px;
	background: url('../images/butt4.png') repeat-x left top;
	color: #fff;
	font-size: 14px; 
	text-shadow: 0 0px 2px #9f999d;
	border-radius: 3px;
	font-family: 'MyriadPro-Regular';
	cursor: pointer;
	width: auto !important; 
	padding: 0 10px;
	border: 0px !important
}

.register_user input[type="submit"].otherbg{
	background: url('../images/butt5.png') repeat-x left top;
}
.register_user input[type="submit"].otherbg:hover{
	background: url('../images/butt5.png') repeat-x left -40px;
}


.register_user input[type="submit"]:hover{
	background: url('../images/butt4.png') repeat-x left -40px;
	color: #fff; 
	border-bottom: 0px !important;
}

.register_user input[type="submit"]:disabled{
	background: url('../images/butt6.png') repeat-x left top;	
}
.register_user input[type="submit"]:disabled:hover{
	background: #cfcfcf ;	
}

.podpis {display: inline-block; font-size: 11px; line-height: 12px; position: relative; top:5px}
.podpis span {color: #ff4045}

.redcaps {display: inline-block; }
.redcaps b {font-weight: 100; color: #f83e43}

.doptext1 {display: inline-block; font-size: 11px; padding-left: 27px; background: url('../images/ico21.png') no-repeat left top; position: relative; top:-2px}
.doptext2 {display: inline-block; font-size: 11px; padding-left: 0px; position: relative; top:4px; line-height: 12px}
.doptext2 a {color: #414042; font-weight: bold; border-bottom: 0px; text-decoration: underline}
.doptext2 a:hover {border-bottom: 0px; }

.full-desc {margin-top: 10px}
.personal .ord-desk .headers {background: #f3f3f3; color: #828084; padding-bottom: 0px !important}
.full-desc .col-1, .full-desc .col-2, .full-desc .col-3, .full-desc .col-4 {border-right: 1px solid #fff}
.col-1 em {font-style: normal;}
.personal .orders-desc .preview .col-1 em {font-style: normal; border-bottom: 1px solid #414042 !important}
.personal .orders-desc .preview .col-1 a {line-height: 12px}
.personal .orders-desc .preview .col-1 a:hover, 
.personal .orders-desc .preview .col-1 a em {color: #565656 !important}
.personal .ord-desk .row {color: #414042; font-size: 12px}
.personal .ord-desk .row .col-2 a {color: #414042; font-size: 12px}
.personal .ord-desk .col-3 .new {font-family: 'MyriadPro-Regular', sans-serif !important;}
.personal .ord-desk .col-3 .new, .personal .ord-desk .col-5 {font-size: 13px !important}

.personal .orders-desc .col-2 {width: 275px !important;}
.personal .orders-desc .col-4 {width: 80px !important}
.personal .ord-desk .result .right-block {width: 200px !important; text-align: left !important}
.personal .ord-desk .result .right-block .name {margin-right: 50px}
.personal .ord-desk .result .right-block .count {width: auto !important}
.personal .ord-desk .row {padding: 1px 0 !important}
.personal .ord-desk .result {padding: 5px 0 0 0}
.personal .ord-desk.is-open .preview {background: none !important}
.personal .ord-desk > .preview > .col-5 {width: 165px !important; font-size: 12px !important; line-height: 14px}

.tab-links {margin: 0px !important}
.grey_butt {
	line-height: 28px !important;
	height: 27px !important;
	font-size: 14px !important;
	width: auto;
	text-align: center;
	padding: 0 8px;
	color: #fff !important;
	border-radius: 3px !important;
	background: url(../images/butt2.png) repeat-x left top !important;	
	border-bottom: 0px !important;
	box-shadow: 0px 2px 2px #e7e7e7;
}
.grey_butt:hover {background:url(../images/butt2.png) repeat-x left bottom !important; border-bottom: 0px !important}
.grey_butt:disabled {background: #e1e1e1 !important; box-shadow: none; } 
#typ_sobstv-styler .jq-selectbox__select {width: 240px}

.hiddinp {display: none; top:-1px !important; left:-6px}
.regadd .hiddinp {width: 150px !important; left:2px; border: 1px solid #cbcbca !important;}
.width4 .hiddinp {width: 320px !important}

.itog_cart {text-align: right; padding-left: 0px !important;}
.itog_cart b:nth-child(2) {width: 142px; text-align: left; display: inline-block}

.vkladki {margin-left: 5px !important}


	.buyb input[type="submit"].tocart {box-shadow: 0 0 0 !important}
	.buyb input[type="submit"]:hover {box-shadow: 0 !important}
		
.per-page div.jq-selectbox__select-text {width: 35px !important}		
.cmpr.tocompare span {
	margin-right: -16px;
	position: relative;
	z-index: 1123;
	padding-right: 21px;	
}

.csumm {float:right}
.authorization .error-mess  {padding: 0 0 3px 79px !important; font-size: 12px !important; font-family: 'PFDinDisplayPro-Regular', sans-serif;}
.authorization .enter-soc {display: none !important}


