/***CUSTOM CSS RULES FOR YOUR SITE***/

/***CUSTOM CSS RULES FOR YOUR SITE***/

header {

    background: #fff;

}

/*

верхнее меню

*/

.top-menu ul.store-horizontal > li {
    float: left;
    margin-left: 20px;
}

.top-menu .store-horizontal-wrap {
    float: left;
    position: relative;
    margin-top: 22px;
}

.top-menu .store-horizontal-wrap {
    float: left;
    position: relative;
    margin-top: 22px;
    border-radius: 2px;
    padding: 0 27px;
    margin-bottom: 17px;
    background-color: #fff;
    width: 94%;
}

.top-menu ul.store-horizontal a.menu-link-actions:before {
    content: '%';
    font-weight: 700;
    color: #fff;
    background: #c71848;
    border: 3px solid #c71848;
    border-radius: 50%;
    padding: 0 3px;
    margin: 0 5px 0 0;
}

.top-menu ul.store-horizontal > li > a{
    color: #575b71;
    font-weight: 400;
    line-height: 32px;
}

.top-menu ul.store-horizontal > li.active > a{
    color:#c71848;
    font-weight: 400;
}

.delay_line a .qnt {
    color: #575b71;
    background: #fff;
}

.top-menu ul.store-horizontal > li:hover > a, .top-menu ul.store-horizontal > li.jshover > a, .top-menu ul.store-horizontal > li.active:hover > a, .top-menu ul.store-horizontal > li.active.jshover > a {
    color: #c71848;
    font-weight: 400;
    background: #fff;
    line-height: 30px;
}

.geolocation-delivery__error {
    margin-top: 9px;
    display: none;
}

/*

меню каталога

*/

ul.left-menu > li > a {
    text-decoration: none;
}

ul.left-menu > li.parent > ul.submenu > li a, ul.left-menu > li.parentMore > ul.submenuMore > li a {
    text-decoration: none;
}

.promotions__item-date, .promotions__item-name {
    text-decoration: none;
}

.footer_menu ul li a span {
    text-decoration: none;
}

.catalog-item-card .item-all-title .item-title {
    text-decoration: none;
}

ul.left-menu > li > a {

    font-size: 15px;
    font-weight: 700;
    color: #575b71;
    border: 0px solid #dee0ee;
    font-family: monospace;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    text-decoration: none; 
    font: inherit;
    vertical-align: baseline;

}

ul.left-menu > li.parent > ul.submenu > li > a, ul.left-menu > li.parentMore > ul.submenuMore > li > a {

    font-size: 15px;
    font-weight: 700;
    color: #000;
    font-family: monospace;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    text-decoration: none; 
    font: inherit;
    vertical-align: baseline;

}

.header_1 .logo {
    float: left;
    margin-left: 6%;
}

ul.left-menu > li:hover > a, ul.left-menu > li.selected > a {
    border-color: #fff;
    color: #c71848;
    background: #fff;
    border: 0px;
}

ul.left-menu > li.parent:hover > a .arrow, ul.left-menu > li.parent.selected > a .arrow {
    border-left: 5px solid #c71848;
}

ul.new_leader_disc li:hover {
    border-color: #fff;
}

ul.left-menu > li.parent > ul.submenu, ul.left-menu > li.parent > .catalog-section-childs, ul.left-menu > li.parentMore > ul.submenuMore {
    border-color: #c71848;
    border: 0.5px;
}

/*

тень меню каталога



ul.left-menu {
    box-shadow: 0 0px 10px rgba(122,122,122,0.25), 0 0px 10px rgba(122,122,122,0.22);
}

*/

/*

субменю каталога при наведении

*/

ul.left-menu > li.parent > ul.submenu li a:hover{
    color:#c71848;
}


.content-wrapper {
    margin-top: -19px;
}

.btn_buy.boc_anch i, .btn_buy.subscribe_anch i {
    color: #fff;
}

.btn_buy.apuo.clear_cart:hover .clear_cont i.fa {
    color: #c71848;
}

/*

нижнее меню при наведении

*/

.footer_menu ul li a:hover {
    color: #c71848;
}

a.news-block__item:hover .news-block__item-text, a.reviews-block__item:hover .reviews-block__item-text {
    color: #c71848;
}

.catalog-item-card .item-all-title a.item-title:hover {
    color: #c71848;
}


.ya-share2__container_size_s {
    font-size: 12px;
    display: none;
}

.vendors-section-item a .item .item-title {
    padding: 0px 2px;
    font-size: 11px;
    text-decoration: none;
}

.catalog-item-card .item-desc {
    height: 30px;
    margin: 5px 0px 0px 0px;
    padding: 0px;
    overflow: hidden;
}

.bx_compare .bx_filtren_container {
    padding: 2.6%;
    border: 0px solid #fff; 
    border-radius: 2px;
    background: #fff;
}
.bx_compare .bx_filtren_container {
    padding: 2.6%;
    border: 0px solid #fff; 
    border-radius: 2px;
    background: #fff;
}

.top-menu ul.store-horizontal > li:hover > a, .top-menu ul.store-horizontal > li.jshover > a, .top-menu ul.store-horizontal > li.active:hover > a, .top-menu ul.store-horizontal > li.active.jshover > a {
    line-height: 32px;
}

.footer-bottom__counter span {
    width: 249px;
}

.promotions-block {
    width: 100%;
    display: table;
    margin-top: 14px;
}


.compare_line a, .delay_line a {
    height: 42px;
    border: none;
}

/*

все ссылки

*/

a:hover {
    color: #c71848;
}

a:link, a:visited {
    color: #560f1b;
}

/*

общие теги понять что это

*/

html, body, .body, .page-wrapper {
    margin-top: -6px;
}

/*

иконки

*/

.fa-truck:before {

content: url(https://ptech.ru/upload/ico1.png);

}

.fa-star-o:before {

content: url(https://ptech.ru/upload/ico2.png);

}

.fa-thumbs-o-up:before {

content: url(https://ptech.ru/upload/ico3.png);

}

.fa-history:before {

 content: url(https://ptech.ru/upload/ico5.png);

}

.fa-bar-chart:before {

    content: "\f0c5";

}

.fa-heart-o:before {

    content: "\f08a";

}

.fa-check-circle:before {

    color: #13a4ff;
}

.fa-user:before {
    content: "\f2c0";
}

.fa-heart:before {
    content: "\f08a";
}

.fa-chevron-left:before {

    content: "\f104";

}

.fa-chevron-right:before {

    content: "\f105";

}

/*

кнопки в плитке товара

*/

.catalog-item-card .buy_more .compare a, .catalog-item-card .buy_more .delay a {

    border: 0px solid #dee0ee;

}

.catalog-item-card .buy_more .compare a i, .catalog-item-card .buy_more .delay a i {

    font-size: 20px;

}
.catalog-item-card .buy_more .compare a:hover, .catalog-item-card .buy_more .delay a:hover {

    border: 0px solid #fff;
    background: #fff;

}

.catalog-item-card .buy_more .compare a:hover, .catalog-item-card .buy_more .delay a:hover {

    border: 0px solid #575b71;
    background: #fff;

}
.catalog-item-card .buy_more .compare a:hover i, .catalog-item-card .buy_more .delay a:hover i {

    color: #ca2451;

}


.delay_line a .qnt {

    color: #000;
    background: #fff;

}

.compare_line a .qnt, .delay_line a .qnt {

    background: #fff;
    color: #000;

}


/*

закрепленная панель

*/

/*.foot_panel_all {

    background: url(https://ptech.ru/bitrix/templates/main_3/images/menubg2.png) repeat-x 0 0;

}

*/

.foot_panel_all {
    background-color: #fff;
}

.foot_panel_all .foot_panel{
    height: 42px;
}

.foot_panel_2 a.cart .qnt {
    color: #fff;
}


/*

цвет кружочков в закрепленном меню

*/

.compare_line a .qnt, .delay_line a .qnt {
    background: #c71848;
    color: #fff;
}

/*

цвет кнопки оформить неактивное состояние

*/

.btn_buy.oformit.dsbl, .btn_buy.oformit.dsbl:hover {
    color: #fff;
    opacity: 50%;
    background: #c71848;
}

.fa fa-truck1 {
    content: "\f0d1";
}

/*

поисковая строка

*/

#altop_search form input[type="submit"] {
    font-size: 14px;
    text-transform: initial;
    border: 1px solid #c71848;
    background: #c71848;
    color: #fff;
    width: 62px;
    height: 40px;
    position: absolute;
    right: 0px;
    top: 0px;
}

#altop_search form input[type="text"] {
    border: 1px solid #c71848;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
       height: 40px;
}

#altop_search form .fa-search {

    top: 43%;
}

#altop_search form .fa-search {

    font-size: 20px;
    color: #e0e0ee;

}

/*

кнопка найти

#altop_search form input[type="submit"]:hover {

    background: url(/upload/s2.png) repeat-x left top;

}



#altop_search form input[type="submit"] {


    background: url(/upload/s1.png) repeat-x left top;

}

*/

#altop_search {
    margin-top: 25px;

}

#altop_search form input[type="submit"]:hover {
    border: 0px solid #575b71;
}

#altop_search form input[type="submit"]:hover {
    background-color: #ca2451;
}

#altop_search form input[type="submit"] {
    background-color: #c71848;
}

#altop_search form input[type="text"] {
    border: 1px solid #c71848;
}

#altop_search form input[type="submit"]:hover {
    border: 0px solid #ff1f48;
}

#altop_search form input[type="submit"] {
    border: 0px solid #c71848;
}


#fancybox-title {
    width: auto;
}

.fa-flash:before, .fa-bolt:before {
    color: #fff;
}

.fa-phone::before {
    color: #575b71;
}

.fa-file-excel-o::before {
    color: #575b71;
}

.sale-personal-section__item-link:hover .fa-file-excel-o::before {
    color: #fff;
}

.catalog-detail .column.second, .catalog-detail {
    cursor: auto;
}

.items-section__title {
    display: flex;
    flex-flow: row nowrap;
}
.items-section__title .items-section__img {
    max-width: 25px;
    margin-right: 5px;
}

/*

обратный звонок

*/

/*

.header_4 a.callback_anch {
    background: url(/upload/s1.png) repeat-x left top;
    color: #fff;
}

.header_4 a.callback_anch i {
    color: #575b71;
}

.header_4 a.callback_anch {
    color: #575b71;
}

*/

/*

быстрые кнопки в карточке товара

*/

.catalog-detail .compare a:hover, .catalog-detail .delay a:hover {
    border: 0px solid #f13c41;
    background: #f6f6fb;
}


.catalog-detail .compare a:hover i, .catalog-detail .delay a:hover i {

    color: #f13c41;

}
.catalog-detail .compare a:hover .compare_text, .catalog-detail .delay a:hover .delay_text {

    color: #f13c41;

}



/*

кнопка купить при наведении


*/

.catalog-detail .buy_more_detail button[name="add2basket"], .catalog-detail .buy_more_detail .apuo_detail, .catalog-detail .buy_more_detail button[name="choose_offer"], .catalog-detail .buy_more_detail button[name="toitem"] {

    background-color: #c71848;

}

.catalog-item-card .buy_more button[name="add2basket"], .catalog-item-card .buy_more .apuo {

    background-color: #c71848;

}


.catalog-detail .catalog-detail-buttons .pcd:first-child {

    margin: 0px;
    border: 1px solid #dee0ee;
    color: #8184a1;

}

.catalog-detail .compare a:hover, .catalog-detail .delay a:hover {

    border: 1px solid #f13c41;
}
.catalog-detail .catalog-detail-buttons .pcd:first-child {

    margin: 0px;
    border: 1px solid #dee0ee;

}
.catalog-detail .catalog-detail-buttons .pcd:first-child:hover {

    margin: 0px;
    border: 1px solid #f13c41;
    background: #f6f6fb;
    color: #f13c41;

}

.catalog-detail-pictures .more_photo ul li a {

    vertical-align: top;
}

.catalog-detail-pictures .more_photo ul li.catalog-detail-video a.catalog-detail-images {
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    width: 86px;
    height: 86px;
}


.news-block, .reviews-block {

    width: 100%;
    float: left;
    margin-top: 24px;
    display: block;

}

.compare_line a i, .delay_line a i {

    color: #fff;
}
.kabinet a.login_anch i, .kabinet a.personal i, .kabinet a.register i, .kabinet a.exit i {
    color: #fff;
}
.kabinet a.login_anch span, .kabinet a.personal span,
.kabinet a.register span,
.foot_panel_1 .compare_line a.compare span.text,
.foot_panel_1 .delay_line a.delay span.text,
.foot_panel_1 .delay_line a.delay span.text,
.foot_panel_2 .cart_line a.cart span.text {
    color: #575b71;
    text-decoration: none;
    font-size: 13px;
}

.kabinet a.login_anch, .kabinet a.personal, .kabinet a.register, .kabinet a.exit {
    border-right: none;
}


/*

кнопка в корзину

*/


/*

градиентом

.btn_buy {

    color: #fff;
    background: url(https://ptech.ru/bitrix/templates/main_3/images/menubg2.png);

}

*/

/*

цвет текста корзина в закрепленном меню 

*/
.foot_panel_2 a.cart .qnt {
    background: #c71848;
}

/*

цвет фона при наведении 

*/

.compare_line a:hover, .delay_line a:hover {
    background: #fff;
}

.catalog-item-card .buy_more button[name="add2basket"], .catalog-item-card .buy_more .apuo {
    color: #fff;
}
.news-block__items, .reviews-block__items {

    padding-bottom: 20px;
}

.top_panel .panel_2 ul.store-vertical li a.showsubmenu {
    font-size: 14px;
    color: #fff;
}

/*

цвет текста блока хиты

*/

.tabs__tab.current::after {
    display: none;
}

.tabs__tab.current a {
    background: #fff;
}

.tabs__tab:hover a, .tabs__tab.current a {
    border-color: #c71848;
}

.tabs__tab.current a span {
    color: #c71848;
}

.tabs__tab a span {
    border-bottom: 0px;
}

.tabs__tab:hover a span {
    border-bottom: 0px dashed transparent;
}

.tabs__tab:hover a span {
    color: #c71848;
}

/*

фон кнопок новинки хиты скидки

*/

ul.new_leader_disc li {
    border: 2px solid #fff;
    background: #fff;
}

.catalog-detail .article {

font-weight: 600;
    font-size: 14px;
    color: #575b71;
}

.catalog-detail .catalog-detail-buttons {

    display: none;
}

.showmobile { display: none; }


/*.not-auth-view styles*/
.not-auth-view .article-compare-block {
    display: flex;
    flex-flow: nowrap row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px 0;
}


.not-auth-view .need-auth-block {
    margin-top: 10px;
}

.not-auth-view .need-auth-block .auth-btn {
    background-color: #c71848;
    height: 27px;
    color: #fff;
    display: block;
    margin: 5px 0;
    padding: 3px 5px;
    line-height: 27px;
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    text-decoration: none;
}

.not-auth-view .need-auth-block .auth-btn .fa.fa-user-o {
    padding-right: 5px;
}

.not-auth-view .need-register-block .register-btn {
    color: #575b71;
    background: #dee0ee;
    display: block;
    margin: 5px 0;
    padding: 3px 5px;
    line-height: 27px;
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    font-weight: 400;
    transition: all 0.15s ease 0s;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    border-radius: 4px;
}

.not-auth-view .need-register-block .register-btn:hover {
    background: #fff;
}

.not-auth-view .compare.no-auth-view {
    float: right;
}

.not-auth-view .compare a i, .catalog-item-card .delay a i {
    font-size: 15px;
    color: #b7bbd3;
}

.not-auth-view .compare a i:hover {
    color: #ca2451;
}

.not-auth-view .catalog-item-card .compare a {
    text-decoration: none;
}
/*LIST VIEW*/
.catalog-item-list-view.not-auth-view .catalog-item-info {
    display: flex;
    float:none;
    flex-flow: wrap row;
    padding: 10px;
}

.catalog-item-list-view.not-auth-view .catalog-item .catalog-item-image {
    width: 178px;
    height: auto;
}

.catalog-item-list-view.not-auth-view .catalog-item .catalog-item-image-cont {
    float: none;
    width: 178px;
}

.catalog-item-list-view.not-auth-view .catalog-item .catalog-item-params {
    width: calc(100% - 210px);
}

.catalog-item-list-view.not-auth-view .catalog-item .need-auth-block {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}

.catalog-item-list-view.not-auth-view .catalog-item .need-auth-block .auth-btn {
    width: 220px;
}

@media screen and (max-width: 787px) {
    .catalog-item-list-view.not-auth-view .catalog-item .catalog-item-image a img {
        max-width: 178px;
        max-height: none;
    }

    .compare_line a .qnt,
    .delay_line a .qnt,
    .foot_panel_2 a.cart .qnt {
        border-radius: 12px;
    }
}

@media screen and (max-width: 525px) {
    .catalog-item-list-view.not-auth-view .catalog-item .catalog-item-image a img {
        max-width: 100px;
        max-height: none;
    }

    .catalog-item-list-view.not-auth-view .catalog-item .catalog-item-params {
        width: 100%;
    }

    .catalog-item-list-view.not-auth-view .catalog-item-info,
    .catalog-item-list-view.not-auth-view .catalog-item .need-auth-block {
        justify-content: space-around;
    }

    .catalog-item-list-view.not-auth-view .catalog-item .catalog-item-image-cont {
        padding-bottom: 20px;
    }
}

.catalog-item-list-view.not-auth-view .compare a {
    border: none;
}

.catalog-item-list-view.not-auth-view .compare a:hover,
.catalog-item-list-view.not-auth-view .delay a:hover {
    background: none;
    border: none;
}

/* price view */
.catalog-item-price-view.not-auth-view .catalog-item-info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.catalog-item-price-view.not-auth-view .price-view-left-side {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: calc(100% - 45px);
    align-items: center;
}

.catalog-item-price-view.not-auth-view .need-auth-block,
.catalog-item-price-view.not-auth-view .need-auth-block .auth-btn,
.catalog-item-price-view.not-auth-view .catalog-item .article {
    margin: 0;
}

.catalog-item-price-view.not-auth-view .need-auth-block .auth-btn .fa.fa-user-o {
    padding: 0;
}

.catalog-item-price-view.not-auth-view .price-view-left-side div {
    padding-right: 5px;
}

.catalog-item-price-view.not-auth-view .catalog-item .catalog-item-title {
    padding-right: 15px;
}

.catalog-item-price-view.not-auth-view .catalog-item .compare, .catalog-item .delay,
.catalog-item-price-view.not-auth-view .catalog-item .article {
    float: none;
}

.catalog-item-price-view.not-auth-view .price-view-right-side {
    width: 35px;
    padding: 3px 5px;
}

.catalog-item-price-view.not-auth-view .catalog-item-title {
max-width: 45%;
}

.catalog-item-price-view.not-auth-view .catalog-item .compare a, .catalog-item .delay a {
    border: none;
}

.catalog-item-price-view.not-auth-view .catalog-item .compare a:hover,
.catalog-item-price-view.not-auth-view .catalog-item .delay a:hover,
.catalog-item-price-view.not-auth-view .catalog-item .compare a.catalog-item-compared,
.catalog-item-price-view.not-auth-view .catalog-item .delay a.catalog-item-delayed {
    background: none;
}

.catalog-item-price-view.not-auth-view .catalog-item .compare a,
.catalog-item-price-view.not-auth-view .catalog-item .delay a {
    height: auto;
}

.catalog-item-price-view.not-auth-view .catalog-item .compare a i.fa.fa-bar-chart {
    vertical-align: auto;
}

.not-auth-view .catalog-detail-item-no-price {
    text-align: center;
    font-size: 12px;
}


.catalog-item-price-view .catalog-item-article, .cart-items .cart-item-article {
    padding-right: 5px;
    display: table-cell;
    vertical-align: middle;
    color: #A0A4BC;
}

@media screen and (max-width: 787px) {
    .catalog-item-price-view.not-auth-view .catalog-item {
        margin: 2px 0 0 0;
        padding: 0;
    }

    /*promotions not auth*/
    .items-sections.not-auth-view .catalog-item-info {
        padding: 5px;
    }

    .catalog-item-price-view .catalog-item-article {
        display: block;
    }

}


@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px){ .showmobile { display: inline; }}


@media screen and (max-width: 600px) {
    .catalog-item-card {
        padding: 0;
    }

    .catalog-item-card .item-image .sticker > span {
        width: 28px;
        height: 22px;
        margin: 0;
    }

    .news-block, .reviews-block {
        display: none;
    }

    .anythingSlider-default .anythingControls ul {
        display: none !important;
    }

    .header_1 {
        display: none;
    }
}

.top_panel .panel_0 {
    display: none;
    height: 46px;
    width: 43%;
    min-width: 180px;
    float: left;
    margin: 0;
    padding: 0;
    border-left: 0;
}

.top_panel .panel_1 {
    width: 11%;
    border-left: 0px;
}

.top_panel .panel_2 {
    width: 55px;
    border-left: 0px;
}
.top_panel .panel_3 {
    width: 11%;
    border-left: 0px;
}
.top_panel .panel_4 {
    width: 11%;
    border-left: 0px;
}

.top_panel {
    background: #c71848;
}
.fa-navicon::before, .fa-reorder::before, .fa-bars::before {

    color: #fff;
}
.fa-phone::before {
    color: #fff;
}
.fa-search::before {
    color: #fff;
}
.top_panel .panel_2 ul.store-vertical li a.showsubmenu {

    color: #fff;
}

.top_panel .panel_4 ul.search-vertical li:hover a.showsearch,
.top_panel .panel_4 ul.search-vertical li.jshover a.showsearch,
.top_panel .panel_4 ul.search-vertical li.active a.showsearch {
    background: #fff!important;
}
.top_panel .panel_4 ul.search-vertical li:hover a.showsearch .fa-search::before,
.top_panel .panel_4 ul.search-vertical li.active a.showsearch .fa-search::before {
    color: #575b71!important;
}

/*Каталог во вкладках*/
.tabs__tab.catalog {
    display: none;
}



/* new foot_panel*/
.user-discount .svg-icon,
.info-line .svg-icon,
.auth-action .svg-icon,
.foot_panel .svg-icon {
    display: inline-block;
    width: 18px;
    height: 18px;
}
.user-discount .svg-icon,
.info-line .svg-icon,
.auth-action .svg-icon {
    padding-right: 12px;
}

.auth-action .svg-user,
.foot_panel .svg-user {
    background: url('/local/templates/elektro_flat/images/icon/user.svg') no-repeat #fff;
}

.foot_panel .svg-register {
    background: url('/local/templates/elektro_flat/images/icon/register.svg') no-repeat #fff;
}

.foot_panel .svg-sign-in,
.auth-action .svg-sign-in {
    background: url('/local/templates/elektro_flat/images/icon/sign-in.svg') no-repeat #fff;
}

.foot_panel .svg-sign-out,
.auth-action .svg-sign-out {
    background: url('/local/templates/elektro_flat/images/icon/sign-out.svg') no-repeat #fff;
}

.foot_panel .svg-compare {
    background: url('/local/templates/elektro_flat/images/icon/compare.svg') no-repeat #fff;
}

.foot_panel .svg-delay {
    background: url('/local/templates/elektro_flat/images/icon/delay.svg') no-repeat #fff;
}

.foot_panel .svg-shopping-cart {
    background: url('/local/templates/elektro_flat/images/icon/shopping-cart.svg') no-repeat #fff;
}

.schedule .svg-email {
    background: url('/local/templates/elektro_flat/images/icon/email.svg') no-repeat #fff;
}

.schedule .svg-phone {
    background: url('/local/templates/elektro_flat/images/icon/phone.svg') no-repeat #fff;
}

.kabinet a.login_anch:hover, .kabinet a.personal:hover, .kabinet a.register:hover, .kabinet a.exit:hover,
.kabinet a.login_anch:hover span,
.kabinet a.personal:hover span, .kabinet a.register:hover span {
    background: #fff;
    color: #575b71;
}

/* - ---- - - - -- - - -  */


.catalog-detail-pictures .more_photo ul li.catalog-detail-video a span {
    font-size: 11px;
}



.btn_buy:hover {
    color: #fff;
    background: #c71848;
}


@media (min-width: 788px) and (max-width: 1013px) {
    .top_panel {
        height: 70px;
    }

    .top_panel .panel_1 ul.section-vertical li a.showsection {
        color: #fff;
    }

    #altop_search form input[type="submit"]:hover {
        background-color: #fff;
        color: #000;
        border: 1px solid #c71848;
    }
}

@media screen and (max-width: 600px) {
.workarea {

margin-top: -35px;

}
}


@media screen and (max-width: 600px) {

.top_panel .panel_2 ul.store-vertical li ul li a:hover, .top_panel .panel_2 ul.store-vertical li ul li .text:hover a, .top_panel .panel_2 ul.store-vertical li ul li a.root-item-selected, .top_panel .panel_2 ul.store-vertical li ul li.active > .text a {
    color: #b7bbd3;
}
}

@media screen and (max-width: 600px) {

.top_panel .panel_2 ul.store-vertical li ul.submenu {

    background-color: #000;
}
}

@media screen and (max-width: 600px) {

.top_panel .panel_2 ul.store-vertical li:hover a.showsubmenu, .top_panel .panel_2 ul.store-vertical li.jshover a.showsubmenu, .top_panel .panel_2 ul.store-vertical li.active a.showsubmenu {
    color: #b7bbd3;
   background-color: #000;
}
}

@media screen and (max-width: 600px) {

.top_panel .panel_2 ul.store-vertical li ul li a {
    font-size: 14px;
    color: #b7bbd3;
    border: 0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
}
}

@media screen and (max-width: 600px) {

.top_panel .panel_2 ul.store-vertical li ul li a {
border: 0px solid #dee0ee;

}
}

@media screen and (max-width: 600px) {
.top_panel .panel_2 ul.store-vertical li:hover a.showsubmenu, .top_panel .panel_2 ul.store-vertical li.jshover a.showsubmenu, .top_panel .panel_2 ul.store-vertical li.active a.showsubmenu {

    border-radius: 0px 0px 0px 0px;
    background: #000;

}
}

@media screen and (max-width: 600px) {
.header_4 .contacts > div:first-child {
    margin: 0px;
    background-color: #000;

}
}

@media screen and (max-width: 600px) {
.header_4 a.callback_anch {
    background-color: #000;

}
}

@media screen and (max-width: 600px) {
#altop_search form input[type="submit"] {

    height: 30px;


}
}

@media screen and (max-width: 600px){
.breadcrumb {
 width: 351px;

}}

@media screen and (max-width: 600px){
.reviews-section-child a {
 width: 100%;

}}

@media screen and (max-width: 600px){
.catalog-detail .price_buy_detail > div {
 width: 100%;

}}

@media screen and (max-width: 600px){
.catalog-detail-delay {
 width: 100%;

}}
@media screen and (max-width: 600px){
.catalog-detail-pictures .detail_picture img {
max-width: 300px;
max-height: 300px;

}}

@media screen and (max-width: 600px){
.already_seen ul {
width: 317px;

}}

@media screen and (max-width: 600px){
.catalog-item-card .buy_more button[name="add2basket"], .catalog-item-card .buy_more .apuo {
    width: 79px;
    height: 25px;
    top: 45px;
	margin-top: 3px;


}}

@media screen and (max-width: 600px){
.catalog-item-card .rating {
    float: left;
    margin-left: -20px;

}}
.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
    content: "\f0c9";
    font-size: 30px;
}

@media screen and (max-width: 600px){
.catalog-detail .buy_more_detail button[name="add2basket"], .catalog-detail .buy_more_detail .apuo_detail, .catalog-detail .buy_more_detail button[name="choose_offer"], .catalog-detail .buy_more_detail button[name="toitem"] {

    margin-left: 45px;

}}

@media screen and (max-width: 700px){
.catalog-detail .buy_more_detail .qnt_cont {
    display: table;
    margin: -10px auto 10px;
    padding: 0px;
    margin-left: 41%;


}}

@media screen and (max-width: 600px){
.catalog-detail .buy_more_detail button[name="add2basket"], .catalog-detail .buy_more_detail .apuo_detail, .catalog-detail .buy_more_detail button[name="choose_offer"], .catalog-detail .buy_more_detail button[name="toitem"] {
    margin-left: 0px;
}}
@media screen and (max-width: 600px){
.catalog-item-card .buy_more, .catalog-item-card .buy_more .add2basket_block {
    margin-left: -45px;
	margin-top: 12px;
}}

@media screen and (max-width: 600px) {

}

.left-column .news-block, .left-column .reviews-block {
    display: none;
}

@media screen and (max-width: 600px){
.already_seen ul {
margin: 0px 24px 10px 24px;
}}

@media screen and (max-width: 700px){
.fa-home:before{
    display: none;
}}

@media screen and (max-width: 700px){
.breadcrumb__arrow:before {
    display: none;
}}

@media screen and (max-width: 700px){
.breadcrumb__item, .breadcrumb__arrow {
    float: left;
    margin-right: 6px;
}}
@media screen and (max-width: 700px){
.catalog-detail .catalog-detail-price .catalog-detail-item-no-price {
    display: none;
}}


#addItemInCart .add2basket_block {
    margin-left: 35%;
    width: 30%;
    margin-top: 12px;
}
.hidden_for_popup {
    display: none;
}

a.plus.disabled, a.minus.disabled, a.plus.disabled:hover, a.minus.disabled:hover {
    cursor: default;
    color: #575b71;
    background-color: #edeef8;
}

a.plus.disabled span, a.minus.disabled span, a.plus.disabled span:hover, a.minus.disabled span:hover {
    color: #575b71;
}
.visually-hidden {
    display: none;
}

.catalog-detail-pictures .more_photo ul li:hover {
    border-color: transparent;
    opacity: 0.8;
}

.custom-content-flex-block {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.custom-content-flex-block__item {
    padding: 10px;
}

.top_panel .panel_3 ul.contacts-vertical li:hover a.showcontacts i.fa-phone::before,
.top_panel .panel_3 ul.contacts-vertical li:hover a.showcontacts i.fa-phone::before,
.top_panel .panel_3 ul.contacts-vertical li.jshover a.showcontacts i.fa-phone::before,
.top_panel .panel_3 ul.contacts-vertical li.active a.showcontacts i.fa-phone::before {
    color: #575b71 !important;
}

.top_panel .panel_3 ul.contacts-vertical li.jshover a.showcontacts,
.top_panel .panel_3 ul.contacts-vertical li:active a.showcontacts,
.top_panel .panel_3 ul.contacts-vertical li.active a.showcontacts,
.top_panel .panel_3 ul.contacts-vertical li:hover a.showcontacts i {
    background: #fff !important;
}


/* затемнение станицы */
.mobile-body.mobile-catalog.back-shadow {
    display: none;
}

.sale-personal-section__list .sale-personal-section__item .bg-yellow,
.left-menu .bg-yellow {
    background: #eddc50;
}

@media screen and (max-width: 787px) {
    .mobile-body.mobile-catalog.back-shadow {
        position: fixed;
        z-index: 80;
        background: #000;
        width: 100%;
        height: 120%;
        opacity: 0.35;
        display: none;
    }

    .mobile-body.mobile-catalog.back-shadow.active {
        display: block;
    }
}

.header_4 .header-auth .user-discount,
.header-auth .auth-action,
.header-auth .auth-action .personal-link,
.header-auth .auth-action .exit-link,
.header-auth .auth-action .register-link,
.schedule .info-line,
.schedule .info-line .email-link {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    line-height: 1.7;
}

/* инф. о менеджере */
.schedule .manager-info-block {
    min-width: 152px;
}

.schedule .manager-info-block .manager-info {
    display: none;
}

.schedule .manager-info-block .work-time .info-line a.manager-info-link {
    text-decoration: none;
    color: #575b71;
}
.schedule .manager-info-block .work-time .info-line i.new-sticker {
    display: block;
    position: relative;
    color: #c71848;
    font-style: normal;
    font-weight: bold;
    background: #fff1b8;
    padding: 0 10px;
    border-radius: 100px/35px;
    right: 0;
    bottom: 10px;
}

.schedule .manager-info-block:hover .manager-info,
.schedule .manager-info-block .manager-info:hover {
    display: block;
}

.schedule .manager-info-block:hover .work-time {
    display: none;
}

.manager-info {
    display: flex;
    flex-flow: nowrap column;
}
/* -------- */

.header-auth .auth-action a.personal-link,
.header-auth .auth-action a.exit-link,
.schedule a.email-link {
    text-decoration: none;
}

.header-auth .auth-action.non-auth-links span.text,
.schedule .info-line {
    color: #8184a1;
}

.schedule a.email-link,
.schedule .info-line span.text-phone,
.header-auth .auth-action a.exit-link {
    color: #575b71;
}

.header-auth .auth-action a.personal-link span.text {
    color: #c71848;
}

.header-auth .auth-action.non-auth-links {
    padding-top: 5px;
}

a.text {
    text-decoration: none;
}

a.text.text-phone {
    color: #575b71;
}

@media all and (max-width: 787px) {

    .btn_buy.apuo.clear_cart {
        width: 27px;
        display: inline-block!important;
    }

    .tabs__tab.catalog {
        display: table;
    }

    .top_panel,
    .top_panel .panel_1,
    .top_panel .panel_1 ul.section-vertical li a.showsection,
    .top_panel .panel_2,
    .top_panel .panel_2 ul.store-vertical li a.showsubmenu,
    .top_panel .panel_3,
    .top_panel .panel_3 ul.contacts-vertical li a.showcontacts,
    .top_panel .panel_4 ul.search-vertical li a.showsearch {
        height: 50px;
    }

    .top_panel .panel_2 ul.store-vertical li ul.submenu,
    .top_panel .panel_1 ul.section-vertical li .catalog-section-list {
        top: 50px;
    }

    .top_panel .panel_0 {
        padding-top: 2px;
        display: block;
    }


    .top_panel .panel_1 ul.section-vertical li:hover a.showsection {
        background: #c71848;
    }

    .top_panel .panel_1 ul.section-vertical li.jshover a.showsection,
    .top_panel .panel_1 ul.section-vertical li.active a.showsection {
        background: #fff;
    }

    .top_panel .panel_1 ul.section-vertical li.active .fa-bars::before {
        color: #575b71;
    }

    /*del вернуть выпадающий телефон*/
    .header_4 {
        display: none!important;
    }

    /*.not-auth-view styles*/

    .not-auth-view .catalog-item-card .catalog-item-info {
        display: flex;
        flex-flow: wrap row;
        justify-content: flex-start;
        float: none;
    }

    .not-auth-view .catalog-item-card .article_rating {
        max-width: 95%;
    }

    .not-auth-view .catalog-item-card .item-all-title {
        float: none;
    }

    .not-auth-view .catalog-item-params {
        width: calc(100% - 100px);
    }

    /* Инф. о менеджере */

    .header_3 .schedule {
        padding: 5px 0;
    }

    .schedule .info-line.email {
        display: none;
    }
    .schedule .manager-info-block .work-time {
        display: none;
    }

    .schedule .manager-info-block .manager-info,
    .schedule .manager-info-block .manager-info:hover {
        display: flex;
    }

    .schedule .manager-info-block .manager-info .manager-info-name::before {
        content: "Ваш менеджер";
        padding-right: 5px;
        font-weight: bold;
        color: #575b71;
    }

    .schedule .manager-info-block .manager-info .manager-info-name .svg-icon {
        display: none;
    }

    .schedule .manager-info-block .manager-info .manager-info-phone {
        order: 2;
    }
    /* ----------------- */

}





@media (max-width: 787px) {
	.interlabs-feedbackform__container {
		height: 527px;
	}

	img.mapcontact {
		width: 100%;
		height: 100%;
	}
}























