.homepage-catalog-tile {
    display: none;
    flex-flow: row wrap;
    align-items: flex-start;
    margin: 20px 0;
}

.homepage-catalog .tile-link {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 10px 3%;
    width: 25%;
    min-width: 90px;
    text-align: center;
    text-decoration: none!important;
    color: #c71848!important;
    font-size: 10px;
}

.homepage-catalog .tile-link-icon {
    padding-bottom: 5px;
}

.homepage-catalog .tile-link-icon, .homepage-catalog .tile-link-icon__img  {
    height: 48px;
    min-height: 48px;
}

@media all and (max-width: 787px) {
    .homepage-catalog-tile {
        display: flex;
    }
}